In [1]:
!ls

In [6]:
import pandas as pd
import numpy as np
from collections import defaultdict


table_gt = pd.read_csv('tables_per_page.txt', header=None)
table_gt.columns = columns=['page','tables','end','start']
table_gt['slice'] = [list(range(int(s),int(e+1))) if not np.isnan(s) else [int(e)] for s,e in table_gt[['start','end']].values]

table_gt

,page,tables,end,start,slice
0,1,5,2013,2009.0,"[2009, 2010, 2011, 2012, 2013]"
1,2,5,2008,2004.0,"[2004, 2005, 2006, 2007, 2008]"
2,3,5,2003,1999.0,"[1999, 2000, 2001, 2002, 2003]"
3,4,5,1998,1994.0,"[1994, 1995, 1996, 1997, 1998]"
4,5,5,1993,1989.0,"[1989, 1990, 1991, 1992, 1993]"
...,...,...,...,...,...
63,64,1,1918,NaN,[1918]
64,65,2,1917,1916.0,"[1916, 1917]"
65,66,7,1915,1872.0,"[1872, 1873, 1874, 1875, 1876, 1877, 1878, 187..."
66,67,7,1871,1865.0,"[1865, 1866, 1867, 1868, 1869, 1870, 1871]"
67,68,3,1964,1962.0,"[1962, 1963, 1964]"

In [7]:
from tqdm.auto import tqdm
import tabula



pdf = 'fed_individual_rate_history_nominal.pdf'
pdf = 'https://files.taxfoundation.org/legacy/docs/fed_individual_rate_history_nominal.pdf'

areas = {
    'Jointly': [0, 0, 100, 28],
    'Separately': [0, 28, 100, 49],
    'Single': [0, 52, 100, 75],
    'Head': [0, 75, 100, 100],
}

page_tables = {k: defaultdict(list) for k in areas.keys()}


for table_key, area in areas.items():

    dfs = []
    for i in tqdm(range(1,69)):
        
        df = tabula.read_pdf(
            pdf, 
            pages=i, 
            multiple_tables=True,
            stream=True,
            guess=True,
            area=area,
            relative_area=True,
        )
        dfs.append(df)


    for page_n, page in enumerate(dfs):
        d = pd.concat(page)
        d = pd.DataFrame([" ".join(x) for x in d.values.astype(str)])

        d.columns = ['rows']

        d = d[(d['rows'].str.contains('%')) | (d['rows'].str.contains(table_key))]
        d['table'] = (d['rows'].str.contains(table_key)).cumsum()

        for g, gdf in d.groupby('table'):
            data = gdf.iloc[1:,0].values.astype(str)
            table = []
            for d in data:
#                 d = d.split()

                d = d.replace('-','').replace(',','').replace('%','').replace('$','').split()
                vals = [None] * 3
                vals[:len(d)] = d

                table.append(vals)

            table = pd.DataFrame(table)

            page_tables[table_key][page_n].append(table)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=68.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=68.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=68.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=68.0), HTML(value='')))

In [8]:
total_data = []

for tax_type in page_tables.keys():
    for page_number, page_dataframes in page_tables[tax_type].items():
#         print(
#             page_number, 
#             len(page_dataframes), 
#             table_gt[table_gt['page'] == page_number+1]['slice'],
#         )
        for tmp_pg_df, year in zip(page_dataframes, table_gt[table_gt['page'] == page_number+1]['slice'].values[0]):
            tmp_pg_df['year'] = year
            tmp_pg_df['tax_type'] = tax_type
            tmp_pg_df['page_num'] = page_number
            
            total_data.append(tmp_pg_df)
            
total_data = pd.concat(total_data)
total_data

       0       1       2  year tax_type  page_num    3    4    5    6    7
0   10.0       0   17850  2009  Jointly         0  NaN  NaN  NaN  NaN  NaN
1   15.0   17850   72500  2009  Jointly         0  NaN  NaN  NaN  NaN  NaN
2   25.0   72500  146400  2009  Jointly         0  NaN  NaN  NaN  NaN  NaN
3   28.0  146400  223050  2009  Jointly         0  NaN  NaN  NaN  NaN  NaN
4   33.0  223050  398350  2009  Jointly         0  NaN  NaN  NaN  NaN  NaN
..   ...     ...     ...   ...      ...       ...  ...  ...  ...  ...  ...
20  81.0   90000  100000  1952     Head        30  NaN  NaN  NaN  NaN  NaN
21  85.0  100000  150000  1952     Head        30  NaN  NaN  NaN  NaN  NaN
22  88.0  150000  200000  1952     Head        30  NaN  NaN  NaN  NaN  NaN
23  91.0  200000  300000  1952     Head        30  NaN  NaN  NaN  NaN  NaN
24  92.0  300000    None  1952     Head        30  NaN  NaN  NaN  NaN  NaN

[4469 rows x 11 columns]

In [9]:
with pd.option_context("display.max_rows", 1300):
    display(total_data[~total_data.iloc[:,6].isna()])

,0,1,2,year,tax_type,page_num,3,4,5,6,7
2,(a),A,33,1992,Jointly,4,"""rate","bubble""",applied,between,7840
2,(a),A,33,1993,Jointly,4,"""rate","bubble""",applied,between,7485
2,(a),A,33,1986,Jointly,5,"""rate","bubble""",applied,between,7190
50,bottom,rates,as,1923,Jointly,58,3,and,43.5,at,http://www.irs.
0,10.0,0,802,2004,Separately,1,nan,NaN,NaN,NaN,NaN
1,15.0,8025,3255,2004,Separately,1,nan,NaN,NaN,NaN,NaN
2,25.0,32550,6572,2004,Separately,1,nan,NaN,NaN,NaN,NaN
3,28.0,65725,10015,2004,Separately,1,nan,NaN,NaN,NaN,NaN
4,33.0,100150,17885,2004,Separately,1,nan,NaN,NaN,NaN,NaN
0,10.0,0,782,2005,Separately,1,nan,NaN,NaN,NaN,NaN
1,15.0,7825,3185,2005,Separately,1,nan,NaN,NaN,NaN,NaN
2,25.0,31850,6425,2005,Separately,1,nan,NaN,NaN,NaN,NaN
3,28.0,64250,9792,2005,Separately,1,nan,NaN,NaN,NaN,NaN
4,33.0,97925,17485,2005,Separately,1,nan,NaN,NaN,NaN,NaN
0,10.0,0,755,2006,Separately,1,nan,NaN,NaN,NaN,NaN
1,15.0,7550,3065,2006,Separately,1,nan,NaN,NaN,NaN,NaN
2,25.0,30650,6185,2006,Separately,1,nan,NaN,NaN,NaN,NaN
3,28.0,61850,9422,2006,Separately,1,nan,NaN,NaN,NaN,NaN
4,33.0,94225,16827,2006,Separately,1,nan,NaN,NaN,NaN,NaN
0,10.0,0,730,2007,Separately,1,nan,NaN,NaN,NaN,NaN
1,15.0,7300,2970,2007,Separately,1,nan,NaN,NaN,NaN,NaN
2,25.0,29700,5997,2007,Separately,1,nan,NaN,NaN,NaN,NaN
3,28.0,59975,9140,2007,Separately,1,nan,NaN,NaN,NaN,NaN
4,33.0,91400,16322,2007,Separately,1,nan,NaN,NaN,NaN,NaN
0,10.0,0,715,2008,Separately,1,nan,NaN,NaN,NaN,NaN
1,15.0,7150,2905,2008,Separately,1,nan,NaN,NaN,NaN,NaN
2,25.0,29050,5862,2008,Separately,1,nan,NaN,NaN,NaN,NaN
3,28.0,58625,8932,2008,Separately,1,nan,NaN,NaN,NaN,NaN
4,33.0,89325,15955,2008,Separately,1,nan,NaN,NaN,NaN,NaN
0,10.0,0,700,1999,Separately,2,nan,NaN,NaN,NaN,NaN
1,15.0,7000,2372,1999,Separately,2,nan,NaN,NaN,NaN,NaN
2,25.0,23725,5732,1999,Separately,2,nan,NaN,NaN,NaN,NaN
3,28.0,57325,8735,1999,Separately,2,nan,NaN,NaN,NaN,NaN
4,33.0,87350,15597,1999,Separately,2,nan,NaN,NaN,NaN,NaN
0,10.0,0,600,2000,Separately,2,nan,NaN,NaN,NaN,NaN
1,15.0,6000,2335,2000,Separately,2,nan,NaN,NaN,NaN,NaN
2,27.0,23350,5642,2000,Separately,2,nan,NaN,NaN,NaN,NaN
3,30.0,56425,8597,2000,Separately,2,nan,NaN,NaN,NaN,NaN
4,35.0,85975,15352,2000,Separately,2,nan,NaN,NaN,NaN,NaN
0,15.0,0,2260,2001,Separately,2,nan,NaN,NaN,NaN,NaN
1,27.5,22600,5462,2001,Separately,2,nan,NaN,NaN,NaN,NaN
2,30.5,54625,8325,2001,Separately,2,nan,NaN,NaN,NaN,NaN
3,35.5,83250,14867,2001,Separately,2,nan,NaN,NaN,NaN,NaN
0,15.0,0,2192,2002,Separately,2,nan,NaN,NaN,NaN,NaN
1,28.0,21925,5297,2002,Separately,2,nan,NaN,NaN,NaN,NaN
2,31.0,52975,8072,2002,Separately,2,nan,NaN,NaN,NaN,NaN
3,36.0,80725,14417,2002,Separately,2,nan,NaN,NaN,NaN,NaN
0,15.0,0,2152,2003,Separately,2,nan,NaN,NaN,NaN,NaN
1,28.0,21525,5202,2003,Separately,2,nan,NaN,NaN,NaN,NaN
2,31.0,52025,7927,2003,Separately,2,nan,NaN,NaN,NaN,NaN
3,36.0,79275,14157,2003,Separately,2,nan,NaN,NaN,NaN,NaN
0,15.0,0,2117,1994,Separately,3,nan,NaN,NaN,NaN,NaN
1,28.0,21175,5115,1994,Separately,3,nan,NaN,NaN,NaN,NaN
2,31.0,51150,7797,1994,Separately,3,nan,NaN,NaN,NaN,NaN
3,36.0,77975,13922,1994,Separately,3,nan,NaN,NaN,NaN,NaN
0,15.0,0,2060,1995,Separately,3,nan,NaN,NaN,NaN,NaN
1,28.0,20600,4980,1995,Separately,3,nan,NaN,NaN,NaN,NaN
2,31.0,49800,7587,1995,Separately,3,nan,NaN,NaN,NaN,NaN
3,36.0,75875,13552,1995,Separately,3,nan,NaN,NaN,NaN,NaN
0,15.0,0,2005,1996,Separately,3,nan,NaN,NaN,NaN,NaN
1,28.0,20050,4845,1996,Separately,3,nan,NaN,NaN,NaN,NaN
2,31.0,48450,7385,1996,Separately,3,nan,NaN,NaN,NaN,NaN
3,36.0,73850,13187,1996,Separately,3,nan,NaN,NaN,NaN,NaN
0,15.0,0,1950,1997,Separately,3,nan,NaN,NaN,NaN,NaN
1,28.0,19500,4712,1997,Separately,3,nan,NaN,NaN,NaN,NaN
2,31.0,47125,7180,1997,Separately,3,nan,NaN,NaN,NaN,NaN
3,36.0,71800,12825,1997,Separately,3,nan,NaN,NaN,NaN,NaN
0,15.0,0,1900,1998,Separately,3,nan,NaN,NaN,NaN,NaN
1,28.0,19000,4592,1998,Separately,3,nan,NaN,NaN,NaN,NaN
2,31.0,45925,7000,1998,Separately,3,nan,NaN,NaN,NaN,NaN
3,36.0,70000,12500,1998,Separately,3,nan,NaN,NaN,NaN,NaN
0,15.0,0,1845,1989,Separately,4,nan,NaN,NaN,NaN,NaN
1,28.0,18450,4457,1989,Separately,4,nan,NaN,NaN,NaN,NaN
2,31.0,44575,7000,1989,Separately,4,nan,NaN,NaN,NaN,NaN
3,36.0,70000,12500,1989,Separately,4,nan,NaN,NaN,NaN,NaN
0,15.0,0,1790,1990,Separately,4,nan,NaN,NaN,NaN,NaN
1,28.0,17900,4325,1990,Separately,4,nan,NaN,NaN,NaN,NaN
0,15.0,0,1700,1991,Separately,4,nan,NaN,NaN,NaN,NaN
1,28.0,17000,4107,1991,Separately,4,nan,NaN,NaN,NaN,NaN
0,15.0,0,1622,1992,Separately,4,nan,NaN,NaN,NaN,NaN
0,15.0,0,1547,1993,Separately,4,nan,NaN,NaN,NaN,NaN
0,15.0,0,1487,1986,Separately,5,nan,NaN,NaN,NaN,NaN
0,11.0,0,150,1987,Separately,5,nan,NaN,NaN,NaN,NaN
1,15.0,1500,1400,1987,Separately,5,nan,NaN,NaN,NaN,NaN
2,28.0,14000,2250,1987,Separately,5,nan,NaN,NaN,NaN,NaN
3,35.0,22500,4500,1987,Separately,5,nan,NaN,NaN,NaN,NaN
0,0.0,0,183,1988,Separately,5,nan,NaN,NaN,NaN,NaN
1,11.0,1835,297,1988,Separately,5,nan,NaN,NaN,NaN,NaN
2,12.0,2970,410,1988,Separately,5,nan,NaN,NaN,NaN,NaN
3,14.0,4100,642,1988,Separately,5,nan,NaN,NaN,NaN,NaN
4,16.0,6420,863,1988,Separately,5,nan,NaN,NaN,NaN,NaN
5,18.0,8635,1090,1988,Separately,5,nan,NaN,NaN,NaN,NaN
6,22.0,10900,1327,1988,Separately,5,nan,NaN,NaN,NaN,NaN
7,25.0,13275,1613,1988,Separately,5,nan,NaN,NaN,NaN,NaN
8,28.0,16135,1899,1988,Separately,5,nan,NaN,NaN,NaN,NaN
9,33.0,18990,2471,1988,Separately,5,nan,NaN,NaN,NaN,NaN
10,38.0,24710,3237,1988,Separately,5,nan,NaN,NaN,NaN,NaN
11,42.0,32375,4618,1988,Separately,5,nan,NaN,NaN,NaN,NaN
12,45.0,46185,5902,1988,Separately,5,nan,NaN,NaN,NaN,NaN
13,49.0,59025,8762,1988,Separately,5,nan,NaN,NaN,NaN,NaN
0,0.0,0,177,1984,Separately,6,nan,NaN,NaN,NaN,NaN
1,11.0,1770,286,1984,Separately,6,nan,NaN,NaN,NaN,NaN
2,12.0,2860,395,1984,Separately,6,nan,NaN,NaN,NaN,NaN
3,14.0,3955,619,1984,Separately,6,nan,NaN,NaN,NaN,NaN
4,16.0,6195,832,1984,Separately,6,nan,NaN,NaN,NaN,NaN
5,18.0,8325,1051,1984,Separately,6,nan,NaN,NaN,NaN,NaN
6,22.0,10510,1280,1984,Separately,6,nan,NaN,NaN,NaN,NaN
7,25.0,12800,1556,1984,Separately,6,nan,NaN,NaN,NaN,NaN
8,28.0,15560,1831,1984,Separately,6,nan,NaN,NaN,NaN,NaN
9,33.0,18315,2383,1984,Separately,6,nan,NaN,NaN,NaN,NaN
10,38.0,23835,3122,1984,Separately,6,nan,NaN,NaN,NaN,NaN
11,42.0,31225,4454,1984,Separately,6,nan,NaN,NaN,NaN,NaN
12,45.0,44545,5693,1984,Separately,6,nan,NaN,NaN,NaN,NaN
13,49.0,56930,8451,1984,Separately,6,nan,NaN,NaN,NaN,NaN
0,0.0,0,170,1985,Separately,6,nan,NaN,NaN,NaN,NaN
1,11.0,1700,275,1985,Separately,6,nan,NaN,NaN,NaN,NaN
2,12.0,2750,380,1985,Separately,6,nan,NaN,NaN,NaN,NaN
3,14.0,3800,595,1985,Separately,6,nan,NaN,NaN,NaN,NaN
4,16.0,5950,800,1985,Separately,6,nan,NaN,NaN,NaN,NaN
5,18.0,8000,1010,1985,Separately,6,nan,NaN,NaN,NaN,NaN
6,22.0,10100,1230,1985,Separately,6,nan,NaN,NaN,NaN,NaN
7,25.0,12300,1495,1985,Separately,6,nan,NaN,NaN,NaN,NaN
8,28.0,14950,1760,1985,Separately,6,nan,NaN,NaN,NaN,NaN
9,33.0,17600,2290,1985,Separately,6,nan,NaN,NaN,NaN,NaN
10,38.0,22900,3000,1985,Separately,6,nan,NaN,NaN,NaN,NaN
11,42.0,30000,4280,1985,Separately,6,nan,NaN,NaN,NaN,NaN
12,45.0,42800,5470,1985,Separately,6,nan,NaN,NaN,NaN,NaN
13,49.0,54700,8120,1985,Separately,6,nan,NaN,NaN,NaN,NaN
0,0.0,0,170,1981,Separately,7,nan,NaN,NaN,NaN,NaN
1,11.0,1700,275,1981,Separately,7,nan,NaN,NaN,NaN,NaN
2,13.0,2750,380,1981,Separately,7,nan,NaN,NaN,NaN,NaN
3,15.0,3800,595,1981,Separately,7,nan,NaN,NaN,NaN,NaN
4,17.0,5950,800,1981,Separately,7,nan,NaN,NaN,NaN,NaN
5,19.0,8000,1010,1981,Separately,7,nan,NaN,NaN,NaN,NaN
6,23.0,10100,1230,1981,Separately,7,nan,NaN,NaN,NaN,NaN
7,26.0,12300,1495,1981,Separately,7,nan,NaN,NaN,NaN,NaN
8,30.0,14950,1760,1981,Separately,7,nan,NaN,NaN,NaN,NaN
9,35.0,17600,2290,1981,Separately,7,nan,NaN,NaN,NaN,NaN
10,40.0,22900,3000,1981,Separately,7,nan,NaN,NaN,NaN,NaN
11,44.0,30000,4280,1981,Separately,7,nan,NaN,NaN,NaN,NaN
12,48.0,42800,5470,1981,Separately,7,nan,NaN,NaN,NaN,NaN
0,0.0,0,170,1982,Separately,7,nan,NaN,NaN,NaN,NaN
1,12.0,1700,275,1982,Separately,7,nan,NaN,NaN,NaN,NaN
2,14.0,2750,380,1982,Separately,7,nan,NaN,NaN,NaN,NaN
3,16.0,3800,595,1982,Separately,7,nan,NaN,NaN,NaN,NaN
4,19.0,5950,800,1982,Separately,7,nan,NaN,NaN,NaN,NaN
5,22.0,8000,1010,1982,Separately,7,nan,NaN,NaN,NaN,NaN
6,25.0,10100,1230,1982,Separately,7,nan,NaN,NaN,NaN,NaN
7,29.0,12300,1495,1982,Separately,7,nan,NaN,NaN,NaN,NaN
8,33.0,14950,1760,1982,Separately,7,nan,NaN,NaN,NaN,NaN
9,39.0,17600,2290,1982,Separately,7,nan,NaN,NaN,NaN,NaN
10,44.0,22900,3000,1982,Separately,7,nan,NaN,NaN,NaN,NaN
11,49.0,30000,4280,1982,Separately,7,nan,NaN,NaN,NaN,NaN
0,0.0,0,170,1983,Separately,7,nan,NaN,NaN,NaN,NaN
1,14.0,1700,275,1983,Separately,7,nan,NaN,NaN,NaN,NaN
2,16.0,2750,380,1983,Separately,7,nan,NaN,NaN,NaN,NaN
3,18.0,3800,595,1983,Separately,7,nan,NaN,NaN,NaN,NaN
4,21.0,5950,800,1983,Separately,7,nan,NaN,NaN,NaN,NaN
5,24.0,8000,1010,1983,Separately,7,nan,NaN,NaN,NaN,NaN
6,28.0,10100,1230,1983,Separately,7,nan,NaN,NaN,NaN,NaN
7,32.0,12300,1495,1983,Separately,7,nan,NaN,NaN,NaN,NaN
8,37.0,14950,1760,1983,Separately,7,nan,NaN,NaN,NaN,NaN
9,43.0,17600,2290,1983,Separately,7,nan,NaN,NaN,NaN,NaN
10,49.0,22900,3000,1983,Separately,7,nan,NaN,NaN,NaN,NaN
11,54.0,30000,4280,1983,Separately,7,nan,NaN,NaN,NaN,NaN
12,59.0,42800,5470,1983,Separately,7,nan,NaN,NaN,NaN,NaN
13,64.0,54700,8120,1983,Separately,7,nan,NaN,NaN,NaN,NaN
14,68.0,81200,10770,1983,Separately,7,nan,NaN,NaN,NaN,NaN
0,0.0,0,170,1979,Separately,8,nan,NaN,NaN,NaN,NaN
1,14.0,1700,275,1979,Separately,8,nan,NaN,NaN,NaN,NaN
2,16.0,2750,380,1979,Separately,8,nan,NaN,NaN,NaN,NaN
3,18.0,3800,595,1979,Separately,8,nan,NaN,NaN,NaN,NaN
4,21.0,5950,800,1979,Separately,8,nan,NaN,NaN,NaN,NaN
5,24.0,8000,1010,1979,Separately,8,nan,NaN,NaN,NaN,NaN
6,28.0,10100,1230,1979,Separately,8,nan,NaN,NaN,NaN,NaN
7,32.0,12300,1495,1979,Separately,8,nan,NaN,NaN,NaN,NaN
8,37.0,14950,1760,1979,Separately,8,nan,NaN,NaN,NaN,NaN
9,43.0,17600,2290,1979,Separately,8,nan,NaN,NaN,NaN,NaN
10,49.0,22900,3000,1979,Separately,8,nan,NaN,NaN,NaN,NaN
11,54.0,30000,4280,1979,Separately,8,nan,NaN,NaN,NaN,NaN
12,59.0,42800,5470,1979,Separately,8,nan,NaN,NaN,NaN,NaN
13,64.0,54700,8120,1979,Separately,8,nan,NaN,NaN,NaN,NaN
14,68.0,81200,10770,1979,Separately,8,nan,NaN,NaN,NaN,NaN
0,0.0,0,170,1980,Separately,8,nan,NaN,NaN,NaN,NaN
1,14.0,1700,275,1980,Separately,8,nan,NaN,NaN,NaN,NaN
2,16.0,2750,380,1980,Separately,8,nan,NaN,NaN,NaN,NaN
3,18.0,3800,595,1980,Separately,8,nan,NaN,NaN,NaN,NaN
4,21.0,5950,800,1980,Separately,8,nan,NaN,NaN,NaN,NaN
5,24.0,8000,1010,1980,Separately,8,nan,NaN,NaN,NaN,NaN
6,28.0,10100,1230,1980,Separately,8,nan,NaN,NaN,NaN,NaN
7,32.0,12300,1495,1980,Separately,8,nan,NaN,NaN,NaN,NaN
8,37.0,14950,1760,1980,Separately,8,nan,NaN,NaN,NaN,NaN
9,43.0,17600,2290,1980,Separately,8,nan,NaN,NaN,NaN,NaN
10,49.0,22900,3000,1980,Separately,8,nan,NaN,NaN,NaN,NaN
11,54.0,30000,4280,1980,Separately,8,nan,NaN,NaN,NaN,NaN
12,59.0,42800,5470,1980,Separately,8,nan,NaN,NaN,NaN,NaN
13,64.0,54700,8120,1980,Separately,8,nan,NaN,NaN,NaN,NaN
14,68.0,81200,10770,1980,Separately,8,nan,NaN,NaN,NaN,NaN
0,0.0,0,160,1978,Separately,9,nan,NaN,NaN,NaN,NaN
1,14.0,1600,210,1978,Separately,9,nan,NaN,NaN,NaN,NaN
2,15.0,2100,260,1978,Separately,9,nan,NaN,NaN,NaN,NaN
3,16.0,2600,310,1978,Separately,9,nan,NaN,NaN,NaN,NaN
4,17.0,3100,360,1978,Separately,9,nan,NaN,NaN,NaN,NaN
5,19.0,3600,560,1978,Separately,9,nan,NaN,NaN,NaN,NaN
6,22.0,5600,760,1978,Separately,9,nan,NaN,NaN,NaN,NaN
7,25.0,7600,950,1978,Separately,9,nan,NaN,NaN,NaN,NaN
8,28.0,9500,1160,1978,Separately,9,nan,NaN,NaN,NaN,NaN
9,32.0,11600,1360,1978,Separately,9,nan,NaN,NaN,NaN,NaN
10,36.0,13600,1560,1978,Separately,9,nan,NaN,NaN,NaN,NaN
11,39.0,15600,1760,1978,Separately,9,nan,NaN,NaN,NaN,NaN
12,42.0,17600,1960,1978,Separately,9,nan,NaN,NaN,NaN,NaN
13,45.0,19600,2160,1978,Separately,9,nan,NaN,NaN,NaN,NaN
14,48.0,21600,2360,1978,Separately,9,nan,NaN,NaN,NaN,NaN
15,50.0,23600,2760,1978,Separately,9,nan,NaN,NaN,NaN,NaN
16,53.0,27600,3360,1978,Separately,9,nan,NaN,NaN,NaN,NaN
17,55.0,33600,3960,1978,Separately,9,nan,NaN,NaN,NaN,NaN
18,58.0,39600,4560,1978,Separately,9,nan,NaN,NaN,NaN,NaN
19,60.0,45600,5160,1978,Separately,9,nan,NaN,NaN,NaN,NaN
20,62.0,51600,6160,1978,Separately,9,nan,NaN,NaN,NaN,NaN
21,64.0,61600,7160,1978,Separately,9,nan,NaN,NaN,NaN,NaN
22,66.0,71600,8160,1978,Separately,9,nan,NaN,NaN,NaN,NaN
23,68.0,81600,9160,1978,Separately,9,nan,NaN,NaN,NaN,NaN
24,69.0,91600,10160,1978,Separately,9,nan,NaN,NaN,NaN,NaN
0,0.0,0,160,1977,Separately,10,nan,NaN,NaN,NaN,NaN
1,14.0,1600,210,1977,Separately,10,nan,NaN,NaN,NaN,NaN
2,15.0,2100,260,1977,Separately,10,nan,NaN,NaN,NaN,NaN
3,16.0,2600,310,1977,Separately,10,nan,NaN,NaN,NaN,NaN
4,17.0,3100,360,1977,Separately,10,nan,NaN,NaN,NaN,NaN
5,19.0,3600,560,1977,Separately,10,nan,NaN,NaN,NaN,NaN
6,22.0,5600,760,1977,Separately,10,nan,NaN,NaN,NaN,NaN
7,25.0,7600,950,1977,Separately,10,nan,NaN,NaN,NaN,NaN
8,28.0,9500,1160,1977,Separately,10,nan,NaN,NaN,NaN,NaN
9,32.0,11600,1360,1977,Separately,10,nan,NaN,NaN,NaN,NaN
10,36.0,13600,1560,1977,Separately,10,nan,NaN,NaN,NaN,NaN
11,39.0,15600,1760,1977,Separately,10,nan,NaN,NaN,NaN,NaN
12,42.0,17600,1960,1977,Separately,10,nan,NaN,NaN,NaN,NaN
13,45.0,19600,2160,1977,Separately,10,nan,NaN,NaN,NaN,NaN
14,48.0,21600,2360,1977,Separately,10,nan,NaN,NaN,NaN,NaN
15,50.0,23600,2760,1977,Separately,10,nan,NaN,NaN,NaN,NaN
16,53.0,27600,3360,1977,Separately,10,nan,NaN,NaN,NaN,NaN
17,55.0,33600,3960,1977,Separately,10,nan,NaN,NaN,NaN,NaN
18,58.0,39600,4560,1977,Separately,10,nan,NaN,NaN,NaN,NaN
19,60.0,45600,5160,1977,Separately,10,nan,NaN,NaN,NaN,NaN
20,62.0,51600,6160,1977,Separately,10,nan,NaN,NaN,NaN,NaN
21,64.0,61600,7160,1977,Separately,10,nan,NaN,NaN,NaN,NaN
22,66.0,71600,8160,1977,Separately,10,nan,NaN,NaN,NaN,NaN
23,68.0,81600,9160,1977,Separately,10,nan,NaN,NaN,NaN,NaN
24,69.0,91600,10160,1977,Separately,10,nan,NaN,NaN,NaN,NaN
0,14.0,0,50,1976,Separately,11,nan,NaN,NaN,NaN,NaN
1,15.0,500,100,1976,Separately,11,nan,NaN,NaN,NaN,NaN
2,16.0,1000,150,1976,Separately,11,nan,NaN,NaN,NaN,NaN
3,17.0,1500,200,1976,Separately,11,nan,NaN,NaN,NaN,NaN
4,19.0,2000,400,1976,Separately,11,nan,NaN,NaN,NaN,NaN
5,22.0,4000,600,1976,Separately,11,nan,NaN,NaN,NaN,NaN
6,25.0,6000,800,1976,Separately,11,nan,NaN,NaN,NaN,NaN
7,28.0,8000,1000,1976,Separately,11,nan,NaN,NaN,NaN,NaN
8,32.0,10000,1200,1976,Separately,11,nan,NaN,NaN,NaN,NaN
9,36.0,12000,1400,1976,Separately,11,nan,NaN,NaN,NaN,NaN
10,39.0,14000,1600,1976,Separately,11,nan,NaN,NaN,NaN,NaN
11,42.0,16000,1800,1976,Separately,11,nan,NaN,NaN,NaN,NaN
12,45.0,18000,2000,1976,Separately,11,nan,NaN,NaN,NaN,NaN
13,48.0,20000,2200,1976,Separately,11,nan,NaN,NaN,NaN,NaN
14,50.0,22000,2600,1976,Separately,11,nan,NaN,NaN,NaN,NaN
15,53.0,26000,3200,1976,Separately,11,nan,NaN,NaN,NaN,NaN
16,55.0,32000,3800,1976,Separately,11,nan,NaN,NaN,NaN,NaN
17,58.0,38000,4400,1976,Separately,11,nan,NaN,NaN,NaN,NaN
18,60.0,44000,5000,1976,Separately,11,nan,NaN,NaN,NaN,NaN
19,62.0,50000,6000,1976,Separately,11,nan,NaN,NaN,NaN,NaN
20,64.0,60000,7000,1976,Separately,11,nan,NaN,NaN,NaN,NaN
21,66.0,70000,8000,1976,Separately,11,nan,NaN,NaN,NaN,NaN
22,68.0,80000,9000,1976,Separately,11,nan,NaN,NaN,NaN,NaN
23,69.0,90000,10000,1976,Separately,11,nan,NaN,NaN,NaN,NaN
0,14.0,0,50,1977,Separately,12,nan,NaN,NaN,NaN,NaN
1,15.0,500,100,1977,Separately,12,nan,NaN,NaN,NaN,NaN
2,16.0,1000,150,1977,Separately,12,nan,NaN,NaN,NaN,NaN
3,17.0,1500,200,1977,Separately,12,nan,NaN,NaN,NaN,NaN
4,19.0,2000,400,1977,Separately,12,nan,NaN,NaN,NaN,NaN
5,22.0,4000,600,1977,Separately,12,nan,NaN,NaN,NaN,NaN
6,25.0,6000,800,1977,Separately,12,nan,NaN,NaN,NaN,NaN
7,28.0,8000,1000,1977,Separately,12,nan,NaN,NaN,NaN,NaN
8,32.0,10000,1200,1977,Separately,12,nan,NaN,NaN,NaN,NaN
9,36.0,12000,1400,1977,Separately,12,nan,NaN,NaN,NaN,NaN
10,39.0,14000,1600,1977,Separately,12,nan,NaN,NaN,NaN,NaN
11,42.0,16000,1800,1977,Separately,12,nan,NaN,NaN,NaN,NaN
12,45.0,18000,2000,1977,Separately,12,nan,NaN,NaN,NaN,NaN
13,48.0,20000,2200,1977,Separately,12,nan,NaN,NaN,NaN,NaN
14,50.0,22000,2600,1977,Separately,12,nan,NaN,NaN,NaN,NaN
15,53.0,26000,3200,1977,Separately,12,nan,NaN,NaN,NaN,NaN
16,55.0,32000,3800,1977,Separately,12,nan,NaN,NaN,NaN,NaN
17,58.0,38000,4400,1977,Separately,12,nan,NaN,NaN,NaN,NaN
18,60.0,44000,5000,1977,Separately,12,nan,NaN,NaN,NaN,NaN
19,62.0,50000,6000,1977,Separately,12,nan,NaN,NaN,NaN,NaN
20,64.0,60000,7000,1977,Separately,12,nan,NaN,NaN,NaN,NaN
21,66.0,70000,8000,1977,Separately,12,nan,NaN,NaN,NaN,NaN
22,68.0,80000,9000,1977,Separately,12,nan,NaN,NaN,NaN,NaN
23,69.0,90000,10000,1977,Separately,12,nan,NaN,NaN,NaN,NaN
0,14.0,0,50,1974,Separately,13,nan,NaN,NaN,NaN,NaN
1,15.0,500,100,1974,Separately,13,nan,NaN,NaN,NaN,NaN
2,16.0,1000,150,1974,Separately,13,nan,NaN,NaN,NaN,NaN
3,17.0,1500,200,1974,Separately,13,nan,NaN,NaN,NaN,NaN
4,19.0,2000,400,1974,Separately,13,nan,NaN,NaN,NaN,NaN
5,22.0,4000,600,1974,Separately,13,nan,NaN,NaN,NaN,NaN
6,25.0,6000,800,1974,Separately,13,nan,NaN,NaN,NaN,NaN
7,28.0,8000,1000,1974,Separately,13,nan,NaN,NaN,NaN,NaN
8,32.0,10000,1200,1974,Separately,13,nan,NaN,NaN,NaN,NaN
9,36.0,12000,1400,1974,Separately,13,nan,NaN,NaN,NaN,NaN
10,39.0,14000,1600,1974,Separately,13,nan,NaN,NaN,NaN,NaN
11,42.0,16000,1800,1974,Separately,13,nan,NaN,NaN,NaN,NaN
12,45.0,18000,2000,1974,Separately,13,nan,NaN,NaN,NaN,NaN
13,48.0,20000,2200,1974,Separately,13,nan,NaN,NaN,NaN,NaN
14,50.0,22000,2600,1974,Separately,13,nan,NaN,NaN,NaN,NaN
15,53.0,26000,3200,1974,Separately,13,nan,NaN,NaN,NaN,NaN
16,55.0,32000,3800,1974,Separately,13,nan,NaN,NaN,NaN,NaN
17,58.0,38000,4400,1974,Separately,13,nan,NaN,NaN,NaN,NaN
18,60.0,44000,5000,1974,Separately,13,nan,NaN,NaN,NaN,NaN
19,62.0,50000,6000,1974,Separately,13,nan,NaN,NaN,NaN,NaN
20,64.0,60000,7000,1974,Separately,13,nan,NaN,NaN,NaN,NaN
21,66.0,70000,8000,1974,Separately,13,nan,NaN,NaN,NaN,NaN
22,68.0,80000,9000,1974,Separately,13,nan,NaN,NaN,NaN,NaN
23,69.0,90000,10000,1974,Separately,13,nan,NaN,NaN,NaN,NaN
0,14.0,0,50,1973,Separately,14,nan,NaN,NaN,NaN,NaN
1,15.0,500,100,1973,Separately,14,nan,NaN,NaN,NaN,NaN
2,16.0,1000,150,1973,Separately,14,nan,NaN,NaN,NaN,NaN
3,17.0,1500,200,1973,Separately,14,nan,NaN,NaN,NaN,NaN
4,19.0,2000,400,1973,Separately,14,nan,NaN,NaN,NaN,NaN
5,22.0,4000,600,1973,Separately,14,nan,NaN,NaN,NaN,NaN
6,25.0,6000,800,1973,Separately,14,nan,NaN,NaN,NaN,NaN
7,28.0,8000,1000,1973,Separately,14,nan,NaN,NaN,NaN,NaN
8,32.0,10000,1200,1973,Separately,14,nan,NaN,NaN,NaN,NaN
9,36.0,12000,1400,1973,Separately,14,nan,NaN,NaN,NaN,NaN
10,39.0,14000,1600,1973,Separately,14,nan,NaN,NaN,NaN,NaN
11,42.0,16000,1800,1973,Separately,14,nan,NaN,NaN,NaN,NaN
12,45.0,18000,2000,1973,Separately,14,nan,NaN,NaN,NaN,NaN
13,48.0,20000,2200,1973,Separately,14,nan,NaN,NaN,NaN,NaN
14,50.0,22000,2600,1973,Separately,14,nan,NaN,NaN,NaN,NaN
15,53.0,26000,3200,1973,Separately,14,nan,NaN,NaN,NaN,NaN
16,55.0,32000,3800,1973,Separately,14,nan,NaN,NaN,NaN,NaN
17,58.0,38000,4400,1973,Separately,14,nan,NaN,NaN,NaN,NaN
18,60.0,44000,5000,1973,Separately,14,nan,NaN,NaN,NaN,NaN
19,62.0,50000,6000,1973,Separately,14,nan,NaN,NaN,NaN,NaN
20,64.0,60000,7000,1973,Separately,14,nan,NaN,NaN,NaN,NaN
21,66.0,70000,8000,1973,Separately,14,nan,NaN,NaN,NaN,NaN
22,68.0,80000,9000,1973,Separately,14,nan,NaN,NaN,NaN,NaN
23,69.0,90000,10000,1973,Separately,14,nan,NaN,NaN,NaN,NaN
0,14.0,0,50,1972,Separately,15,nan,NaN,NaN,NaN,NaN
1,15.0,500,100,1972,Separately,15,nan,NaN,NaN,NaN,NaN
2,16.0,1000,150,1972,Separately,15,nan,NaN,NaN,NaN,NaN
3,17.0,1500,200,1972,Separately,15,nan,NaN,NaN,NaN,NaN
4,19.0,2000,400,1972,Separately,15,nan,NaN,NaN,NaN,NaN
5,22.0,4000,600,1972,Separately,15,nan,NaN,NaN,NaN,NaN
6,25.0,6000,800,1972,Separately,15,nan,NaN,NaN,NaN,NaN
7,28.0,8000,1000,1972,Separately,15,nan,NaN,NaN,NaN,NaN
8,32.0,10000,1200,1972,Separately,15,nan,NaN,NaN,NaN,NaN
9,36.0,12000,1400,1972,Separately,15,nan,NaN,NaN,NaN,NaN
10,39.0,14000,1600,1972,Separately,15,nan,NaN,NaN,NaN,NaN
11,42.0,16000,1800,1972,Separately,15,nan,NaN,NaN,NaN,NaN
12,45.0,18000,2000,1972,Separately,15,nan,NaN,NaN,NaN,NaN

In [10]:
numeric_perc = []
for row_perc in total_data.iloc[:,0].values:
    try:
        float(row_perc)
        numeric_perc.append(True)
    except:
        numeric_perc.append(False)
        
print(sum(numeric_perc), len(total_data))
        
total_data[~total_data.iloc[:,6].isna()]

4462 4469

,0,1,2,year,tax_type,page_num,3,4,5,6,7
2,(a),A,33,1992,Jointly,4,"""rate","bubble""",applied,between,7840
2,(a),A,33,1993,Jointly,4,"""rate","bubble""",applied,between,7485
2,(a),A,33,1986,Jointly,5,"""rate","bubble""",applied,between,7190
50,bottom,rates,as,1923,Jointly,58,3,and,43.5,at,http://www.irs.
0,10.0,0,802,2004,Separately,1,nan,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
21,68.0,80000,90000,1971,Single,16,nan,NaN,NaN,NaN,NaN
22,69.0,90000,100000,1971,Single,16,nan,NaN,NaN,NaN,NaN
2,d,saved,by,1992,Head,4,applying,the,15,rate.,NaN
2,d,saved,by,1993,Head,4,applying,the,15,rate.,NaN
1,d,saved,by,1986,Head,5,applying,the,15,rate.,NaN

In [11]:

for g, thing in total_data[~total_data.iloc[:,6].isna()].groupby(['tax_type','page_num']):
    print(g)
    display(thing)

('Head', 4)

   0      1   2  year tax_type  page_num         3    4   5      6    7
2  d  saved  by  1992     Head         4  applying  the  15  rate.  NaN
2  d  saved  by  1993     Head         4  applying  the  15  rate.  NaN

('Head', 5)

   0      1   2  year tax_type  page_num         3    4   5      6    7
1  d  saved  by  1986     Head         5  applying  the  15  rate.  NaN

('Jointly', 4)

     0  1   2  year tax_type  page_num      3        4        5        6     7
2  (a)  A  33  1992  Jointly         4  "rate  bubble"  applied  between  7840
2  (a)  A  33  1993  Jointly         4  "rate  bubble"  applied  between  7485

('Jointly', 5)

     0  1   2  year tax_type  page_num      3        4        5        6     7
2  (a)  A  33  1986  Jointly         5  "rate  bubble"  applied  between  7190

('Jointly', 58)

,0,1,2,year,tax_type,page_num,3,4,5,6,7
50,bottom,rates,as,1923,Jointly,58,3,and,43.5,at,http://www.irs.

('Separately', 1)

      0       1      2  year    tax_type  page_num    3    4    5    6    7
0  10.0       0    802  2004  Separately         1  nan  NaN  NaN  NaN  NaN
1  15.0    8025   3255  2004  Separately         1  nan  NaN  NaN  NaN  NaN
2  25.0   32550   6572  2004  Separately         1  nan  NaN  NaN  NaN  NaN
3  28.0   65725  10015  2004  Separately         1  nan  NaN  NaN  NaN  NaN
4  33.0  100150  17885  2004  Separately         1  nan  NaN  NaN  NaN  NaN
0  10.0       0    782  2005  Separately         1  nan  NaN  NaN  NaN  NaN
1  15.0    7825   3185  2005  Separately         1  nan  NaN  NaN  NaN  NaN
2  25.0   31850   6425  2005  Separately         1  nan  NaN  NaN  NaN  NaN
3  28.0   64250   9792  2005  Separately         1  nan  NaN  NaN  NaN  NaN
4  33.0   97925  17485  2005  Separately         1  nan  NaN  NaN  NaN  NaN
0  10.0       0    755  2006  Separately         1  nan  NaN  NaN  NaN  NaN
1  15.0    7550   3065  2006  Separately         1  nan  NaN  NaN  NaN  NaN
2  25.0   30650   6185  2006  Separately         1  nan  NaN  NaN  NaN  NaN
3  28.0   61850   9422  2006  Separately         1  nan  NaN  NaN  NaN  NaN
4  33.0   94225  16827  2006  Separately         1  nan  NaN  NaN  NaN  NaN
0  10.0       0    730  2007  Separately         1  nan  NaN  NaN  NaN  NaN
1  15.0    7300   2970  2007  Separately         1  nan  NaN  NaN  NaN  NaN
2  25.0   29700   5997  2007  Separately         1  nan  NaN  NaN  NaN  NaN
3  28.0   59975   9140  2007  Separately         1  nan  NaN  NaN  NaN  NaN
4  33.0   91400  16322  2007  Separately         1  nan  NaN  NaN  NaN  NaN
0  10.0       0    715  2008  Separately         1  nan  NaN  NaN  NaN  NaN
1  15.0    7150   2905  2008  Separately         1  nan  NaN  NaN  NaN  NaN
2  25.0   29050   5862  2008  Separately         1  nan  NaN  NaN  NaN  NaN
3  28.0   58625   8932  2008  Separately         1  nan  NaN  NaN  NaN  NaN
4  33.0   89325  15955  2008  Separately         1  nan  NaN  NaN  NaN  NaN

('Separately', 2)

      0      1      2  year    tax_type  page_num    3    4    5    6    7
0  10.0      0    700  1999  Separately         2  nan  NaN  NaN  NaN  NaN
1  15.0   7000   2372  1999  Separately         2  nan  NaN  NaN  NaN  NaN
2  25.0  23725   5732  1999  Separately         2  nan  NaN  NaN  NaN  NaN
3  28.0  57325   8735  1999  Separately         2  nan  NaN  NaN  NaN  NaN
4  33.0  87350  15597  1999  Separately         2  nan  NaN  NaN  NaN  NaN
0  10.0      0    600  2000  Separately         2  nan  NaN  NaN  NaN  NaN
1  15.0   6000   2335  2000  Separately         2  nan  NaN  NaN  NaN  NaN
2  27.0  23350   5642  2000  Separately         2  nan  NaN  NaN  NaN  NaN
3  30.0  56425   8597  2000  Separately         2  nan  NaN  NaN  NaN  NaN
4  35.0  85975  15352  2000  Separately         2  nan  NaN  NaN  NaN  NaN
0  15.0      0   2260  2001  Separately         2  nan  NaN  NaN  NaN  NaN
1  27.5  22600   5462  2001  Separately         2  nan  NaN  NaN  NaN  NaN
2  30.5  54625   8325  2001  Separately         2  nan  NaN  NaN  NaN  NaN
3  35.5  83250  14867  2001  Separately         2  nan  NaN  NaN  NaN  NaN
0  15.0      0   2192  2002  Separately         2  nan  NaN  NaN  NaN  NaN
1  28.0  21925   5297  2002  Separately         2  nan  NaN  NaN  NaN  NaN
2  31.0  52975   8072  2002  Separately         2  nan  NaN  NaN  NaN  NaN
3  36.0  80725  14417  2002  Separately         2  nan  NaN  NaN  NaN  NaN
0  15.0      0   2152  2003  Separately         2  nan  NaN  NaN  NaN  NaN
1  28.0  21525   5202  2003  Separately         2  nan  NaN  NaN  NaN  NaN
2  31.0  52025   7927  2003  Separately         2  nan  NaN  NaN  NaN  NaN
3  36.0  79275  14157  2003  Separately         2  nan  NaN  NaN  NaN  NaN

('Separately', 3)

      0      1      2  year    tax_type  page_num    3    4    5    6    7
0  15.0      0   2117  1994  Separately         3  nan  NaN  NaN  NaN  NaN
1  28.0  21175   5115  1994  Separately         3  nan  NaN  NaN  NaN  NaN
2  31.0  51150   7797  1994  Separately         3  nan  NaN  NaN  NaN  NaN
3  36.0  77975  13922  1994  Separately         3  nan  NaN  NaN  NaN  NaN
0  15.0      0   2060  1995  Separately         3  nan  NaN  NaN  NaN  NaN
1  28.0  20600   4980  1995  Separately         3  nan  NaN  NaN  NaN  NaN
2  31.0  49800   7587  1995  Separately         3  nan  NaN  NaN  NaN  NaN
3  36.0  75875  13552  1995  Separately         3  nan  NaN  NaN  NaN  NaN
0  15.0      0   2005  1996  Separately         3  nan  NaN  NaN  NaN  NaN
1  28.0  20050   4845  1996  Separately         3  nan  NaN  NaN  NaN  NaN
2  31.0  48450   7385  1996  Separately         3  nan  NaN  NaN  NaN  NaN
3  36.0  73850  13187  1996  Separately         3  nan  NaN  NaN  NaN  NaN
0  15.0      0   1950  1997  Separately         3  nan  NaN  NaN  NaN  NaN
1  28.0  19500   4712  1997  Separately         3  nan  NaN  NaN  NaN  NaN
2  31.0  47125   7180  1997  Separately         3  nan  NaN  NaN  NaN  NaN
3  36.0  71800  12825  1997  Separately         3  nan  NaN  NaN  NaN  NaN
0  15.0      0   1900  1998  Separately         3  nan  NaN  NaN  NaN  NaN
1  28.0  19000   4592  1998  Separately         3  nan  NaN  NaN  NaN  NaN
2  31.0  45925   7000  1998  Separately         3  nan  NaN  NaN  NaN  NaN
3  36.0  70000  12500  1998  Separately         3  nan  NaN  NaN  NaN  NaN

('Separately', 4)

      0      1      2  year    tax_type  page_num    3    4    5    6    7
0  15.0      0   1845  1989  Separately         4  nan  NaN  NaN  NaN  NaN
1  28.0  18450   4457  1989  Separately         4  nan  NaN  NaN  NaN  NaN
2  31.0  44575   7000  1989  Separately         4  nan  NaN  NaN  NaN  NaN
3  36.0  70000  12500  1989  Separately         4  nan  NaN  NaN  NaN  NaN
0  15.0      0   1790  1990  Separately         4  nan  NaN  NaN  NaN  NaN
1  28.0  17900   4325  1990  Separately         4  nan  NaN  NaN  NaN  NaN
0  15.0      0   1700  1991  Separately         4  nan  NaN  NaN  NaN  NaN
1  28.0  17000   4107  1991  Separately         4  nan  NaN  NaN  NaN  NaN
0  15.0      0   1622  1992  Separately         4  nan  NaN  NaN  NaN  NaN
0  15.0      0   1547  1993  Separately         4  nan  NaN  NaN  NaN  NaN

('Separately', 5)

       0      1     2  year    tax_type  page_num    3    4    5    6    7
0   15.0      0  1487  1986  Separately         5  nan  NaN  NaN  NaN  NaN
0   11.0      0   150  1987  Separately         5  nan  NaN  NaN  NaN  NaN
1   15.0   1500  1400  1987  Separately         5  nan  NaN  NaN  NaN  NaN
2   28.0  14000  2250  1987  Separately         5  nan  NaN  NaN  NaN  NaN
3   35.0  22500  4500  1987  Separately         5  nan  NaN  NaN  NaN  NaN
0    0.0      0   183  1988  Separately         5  nan  NaN  NaN  NaN  NaN
1   11.0   1835   297  1988  Separately         5  nan  NaN  NaN  NaN  NaN
2   12.0   2970   410  1988  Separately         5  nan  NaN  NaN  NaN  NaN
3   14.0   4100   642  1988  Separately         5  nan  NaN  NaN  NaN  NaN
4   16.0   6420   863  1988  Separately         5  nan  NaN  NaN  NaN  NaN
5   18.0   8635  1090  1988  Separately         5  nan  NaN  NaN  NaN  NaN
6   22.0  10900  1327  1988  Separately         5  nan  NaN  NaN  NaN  NaN
7   25.0  13275  1613  1988  Separately         5  nan  NaN  NaN  NaN  NaN
8   28.0  16135  1899  1988  Separately         5  nan  NaN  NaN  NaN  NaN
9   33.0  18990  2471  1988  Separately         5  nan  NaN  NaN  NaN  NaN
10  38.0  24710  3237  1988  Separately         5  nan  NaN  NaN  NaN  NaN
11  42.0  32375  4618  1988  Separately         5  nan  NaN  NaN  NaN  NaN
12  45.0  46185  5902  1988  Separately         5  nan  NaN  NaN  NaN  NaN
13  49.0  59025  8762  1988  Separately         5  nan  NaN  NaN  NaN  NaN

('Separately', 6)

       0      1     2  year    tax_type  page_num    3    4    5    6    7
0    0.0      0   177  1984  Separately         6  nan  NaN  NaN  NaN  NaN
1   11.0   1770   286  1984  Separately         6  nan  NaN  NaN  NaN  NaN
2   12.0   2860   395  1984  Separately         6  nan  NaN  NaN  NaN  NaN
3   14.0   3955   619  1984  Separately         6  nan  NaN  NaN  NaN  NaN
4   16.0   6195   832  1984  Separately         6  nan  NaN  NaN  NaN  NaN
5   18.0   8325  1051  1984  Separately         6  nan  NaN  NaN  NaN  NaN
6   22.0  10510  1280  1984  Separately         6  nan  NaN  NaN  NaN  NaN
7   25.0  12800  1556  1984  Separately         6  nan  NaN  NaN  NaN  NaN
8   28.0  15560  1831  1984  Separately         6  nan  NaN  NaN  NaN  NaN
9   33.0  18315  2383  1984  Separately         6  nan  NaN  NaN  NaN  NaN
10  38.0  23835  3122  1984  Separately         6  nan  NaN  NaN  NaN  NaN
11  42.0  31225  4454  1984  Separately         6  nan  NaN  NaN  NaN  NaN
12  45.0  44545  5693  1984  Separately         6  nan  NaN  NaN  NaN  NaN
13  49.0  56930  8451  1984  Separately         6  nan  NaN  NaN  NaN  NaN
0    0.0      0   170  1985  Separately         6  nan  NaN  NaN  NaN  NaN
1   11.0   1700   275  1985  Separately         6  nan  NaN  NaN  NaN  NaN
2   12.0   2750   380  1985  Separately         6  nan  NaN  NaN  NaN  NaN
3   14.0   3800   595  1985  Separately         6  nan  NaN  NaN  NaN  NaN
4   16.0   5950   800  1985  Separately         6  nan  NaN  NaN  NaN  NaN
5   18.0   8000  1010  1985  Separately         6  nan  NaN  NaN  NaN  NaN
6   22.0  10100  1230  1985  Separately         6  nan  NaN  NaN  NaN  NaN
7   25.0  12300  1495  1985  Separately         6  nan  NaN  NaN  NaN  NaN
8   28.0  14950  1760  1985  Separately         6  nan  NaN  NaN  NaN  NaN
9   33.0  17600  2290  1985  Separately         6  nan  NaN  NaN  NaN  NaN
10  38.0  22900  3000  1985  Separately         6  nan  NaN  NaN  NaN  NaN
11  42.0  30000  4280  1985  Separately         6  nan  NaN  NaN  NaN  NaN
12  45.0  42800  5470  1985  Separately         6  nan  NaN  NaN  NaN  NaN
13  49.0  54700  8120  1985  Separately         6  nan  NaN  NaN  NaN  NaN

('Separately', 7)

       0      1      2  year    tax_type  page_num    3    4    5    6    7
0    0.0      0    170  1981  Separately         7  nan  NaN  NaN  NaN  NaN
1   11.0   1700    275  1981  Separately         7  nan  NaN  NaN  NaN  NaN
2   13.0   2750    380  1981  Separately         7  nan  NaN  NaN  NaN  NaN
3   15.0   3800    595  1981  Separately         7  nan  NaN  NaN  NaN  NaN
4   17.0   5950    800  1981  Separately         7  nan  NaN  NaN  NaN  NaN
5   19.0   8000   1010  1981  Separately         7  nan  NaN  NaN  NaN  NaN
6   23.0  10100   1230  1981  Separately         7  nan  NaN  NaN  NaN  NaN
7   26.0  12300   1495  1981  Separately         7  nan  NaN  NaN  NaN  NaN
8   30.0  14950   1760  1981  Separately         7  nan  NaN  NaN  NaN  NaN
9   35.0  17600   2290  1981  Separately         7  nan  NaN  NaN  NaN  NaN
10  40.0  22900   3000  1981  Separately         7  nan  NaN  NaN  NaN  NaN
11  44.0  30000   4280  1981  Separately         7  nan  NaN  NaN  NaN  NaN
12  48.0  42800   5470  1981  Separately         7  nan  NaN  NaN  NaN  NaN
0    0.0      0    170  1982  Separately         7  nan  NaN  NaN  NaN  NaN
1   12.0   1700    275  1982  Separately         7  nan  NaN  NaN  NaN  NaN
2   14.0   2750    380  1982  Separately         7  nan  NaN  NaN  NaN  NaN
3   16.0   3800    595  1982  Separately         7  nan  NaN  NaN  NaN  NaN
4   19.0   5950    800  1982  Separately         7  nan  NaN  NaN  NaN  NaN
5   22.0   8000   1010  1982  Separately         7  nan  NaN  NaN  NaN  NaN
6   25.0  10100   1230  1982  Separately         7  nan  NaN  NaN  NaN  NaN
7   29.0  12300   1495  1982  Separately         7  nan  NaN  NaN  NaN  NaN
8   33.0  14950   1760  1982  Separately         7  nan  NaN  NaN  NaN  NaN
9   39.0  17600   2290  1982  Separately         7  nan  NaN  NaN  NaN  NaN
10  44.0  22900   3000  1982  Separately         7  nan  NaN  NaN  NaN  NaN
11  49.0  30000   4280  1982  Separately         7  nan  NaN  NaN  NaN  NaN
0    0.0      0    170  1983  Separately         7  nan  NaN  NaN  NaN  NaN
1   14.0   1700    275  1983  Separately         7  nan  NaN  NaN  NaN  NaN
2   16.0   2750    380  1983  Separately         7  nan  NaN  NaN  NaN  NaN
3   18.0   3800    595  1983  Separately         7  nan  NaN  NaN  NaN  NaN
4   21.0   5950    800  1983  Separately         7  nan  NaN  NaN  NaN  NaN
5   24.0   8000   1010  1983  Separately         7  nan  NaN  NaN  NaN  NaN
6   28.0  10100   1230  1983  Separately         7  nan  NaN  NaN  NaN  NaN
7   32.0  12300   1495  1983  Separately         7  nan  NaN  NaN  NaN  NaN
8   37.0  14950   1760  1983  Separately         7  nan  NaN  NaN  NaN  NaN
9   43.0  17600   2290  1983  Separately         7  nan  NaN  NaN  NaN  NaN
10  49.0  22900   3000  1983  Separately         7  nan  NaN  NaN  NaN  NaN
11  54.0  30000   4280  1983  Separately         7  nan  NaN  NaN  NaN  NaN
12  59.0  42800   5470  1983  Separately         7  nan  NaN  NaN  NaN  NaN
13  64.0  54700   8120  1983  Separately         7  nan  NaN  NaN  NaN  NaN
14  68.0  81200  10770  1983  Separately         7  nan  NaN  NaN  NaN  NaN

('Separately', 8)

       0      1      2  year    tax_type  page_num    3    4    5    6    7
0    0.0      0    170  1979  Separately         8  nan  NaN  NaN  NaN  NaN
1   14.0   1700    275  1979  Separately         8  nan  NaN  NaN  NaN  NaN
2   16.0   2750    380  1979  Separately         8  nan  NaN  NaN  NaN  NaN
3   18.0   3800    595  1979  Separately         8  nan  NaN  NaN  NaN  NaN
4   21.0   5950    800  1979  Separately         8  nan  NaN  NaN  NaN  NaN
5   24.0   8000   1010  1979  Separately         8  nan  NaN  NaN  NaN  NaN
6   28.0  10100   1230  1979  Separately         8  nan  NaN  NaN  NaN  NaN
7   32.0  12300   1495  1979  Separately         8  nan  NaN  NaN  NaN  NaN
8   37.0  14950   1760  1979  Separately         8  nan  NaN  NaN  NaN  NaN
9   43.0  17600   2290  1979  Separately         8  nan  NaN  NaN  NaN  NaN
10  49.0  22900   3000  1979  Separately         8  nan  NaN  NaN  NaN  NaN
11  54.0  30000   4280  1979  Separately         8  nan  NaN  NaN  NaN  NaN
12  59.0  42800   5470  1979  Separately         8  nan  NaN  NaN  NaN  NaN
13  64.0  54700   8120  1979  Separately         8  nan  NaN  NaN  NaN  NaN
14  68.0  81200  10770  1979  Separately         8  nan  NaN  NaN  NaN  NaN
0    0.0      0    170  1980  Separately         8  nan  NaN  NaN  NaN  NaN
1   14.0   1700    275  1980  Separately         8  nan  NaN  NaN  NaN  NaN
2   16.0   2750    380  1980  Separately         8  nan  NaN  NaN  NaN  NaN
3   18.0   3800    595  1980  Separately         8  nan  NaN  NaN  NaN  NaN
4   21.0   5950    800  1980  Separately         8  nan  NaN  NaN  NaN  NaN
5   24.0   8000   1010  1980  Separately         8  nan  NaN  NaN  NaN  NaN
6   28.0  10100   1230  1980  Separately         8  nan  NaN  NaN  NaN  NaN
7   32.0  12300   1495  1980  Separately         8  nan  NaN  NaN  NaN  NaN
8   37.0  14950   1760  1980  Separately         8  nan  NaN  NaN  NaN  NaN
9   43.0  17600   2290  1980  Separately         8  nan  NaN  NaN  NaN  NaN
10  49.0  22900   3000  1980  Separately         8  nan  NaN  NaN  NaN  NaN
11  54.0  30000   4280  1980  Separately         8  nan  NaN  NaN  NaN  NaN
12  59.0  42800   5470  1980  Separately         8  nan  NaN  NaN  NaN  NaN
13  64.0  54700   8120  1980  Separately         8  nan  NaN  NaN  NaN  NaN
14  68.0  81200  10770  1980  Separately         8  nan  NaN  NaN  NaN  NaN

('Separately', 9)

       0      1      2  year    tax_type  page_num    3    4    5    6    7
0    0.0      0    160  1978  Separately         9  nan  NaN  NaN  NaN  NaN
1   14.0   1600    210  1978  Separately         9  nan  NaN  NaN  NaN  NaN
2   15.0   2100    260  1978  Separately         9  nan  NaN  NaN  NaN  NaN
3   16.0   2600    310  1978  Separately         9  nan  NaN  NaN  NaN  NaN
4   17.0   3100    360  1978  Separately         9  nan  NaN  NaN  NaN  NaN
5   19.0   3600    560  1978  Separately         9  nan  NaN  NaN  NaN  NaN
6   22.0   5600    760  1978  Separately         9  nan  NaN  NaN  NaN  NaN
7   25.0   7600    950  1978  Separately         9  nan  NaN  NaN  NaN  NaN
8   28.0   9500   1160  1978  Separately         9  nan  NaN  NaN  NaN  NaN
9   32.0  11600   1360  1978  Separately         9  nan  NaN  NaN  NaN  NaN
10  36.0  13600   1560  1978  Separately         9  nan  NaN  NaN  NaN  NaN
11  39.0  15600   1760  1978  Separately         9  nan  NaN  NaN  NaN  NaN
12  42.0  17600   1960  1978  Separately         9  nan  NaN  NaN  NaN  NaN
13  45.0  19600   2160  1978  Separately         9  nan  NaN  NaN  NaN  NaN
14  48.0  21600   2360  1978  Separately         9  nan  NaN  NaN  NaN  NaN
15  50.0  23600   2760  1978  Separately         9  nan  NaN  NaN  NaN  NaN
16  53.0  27600   3360  1978  Separately         9  nan  NaN  NaN  NaN  NaN
17  55.0  33600   3960  1978  Separately         9  nan  NaN  NaN  NaN  NaN
18  58.0  39600   4560  1978  Separately         9  nan  NaN  NaN  NaN  NaN
19  60.0  45600   5160  1978  Separately         9  nan  NaN  NaN  NaN  NaN
20  62.0  51600   6160  1978  Separately         9  nan  NaN  NaN  NaN  NaN
21  64.0  61600   7160  1978  Separately         9  nan  NaN  NaN  NaN  NaN
22  66.0  71600   8160  1978  Separately         9  nan  NaN  NaN  NaN  NaN
23  68.0  81600   9160  1978  Separately         9  nan  NaN  NaN  NaN  NaN
24  69.0  91600  10160  1978  Separately         9  nan  NaN  NaN  NaN  NaN

('Separately', 10)

       0      1      2  year    tax_type  page_num    3    4    5    6    7
0    0.0      0    160  1977  Separately        10  nan  NaN  NaN  NaN  NaN
1   14.0   1600    210  1977  Separately        10  nan  NaN  NaN  NaN  NaN
2   15.0   2100    260  1977  Separately        10  nan  NaN  NaN  NaN  NaN
3   16.0   2600    310  1977  Separately        10  nan  NaN  NaN  NaN  NaN
4   17.0   3100    360  1977  Separately        10  nan  NaN  NaN  NaN  NaN
5   19.0   3600    560  1977  Separately        10  nan  NaN  NaN  NaN  NaN
6   22.0   5600    760  1977  Separately        10  nan  NaN  NaN  NaN  NaN
7   25.0   7600    950  1977  Separately        10  nan  NaN  NaN  NaN  NaN
8   28.0   9500   1160  1977  Separately        10  nan  NaN  NaN  NaN  NaN
9   32.0  11600   1360  1977  Separately        10  nan  NaN  NaN  NaN  NaN
10  36.0  13600   1560  1977  Separately        10  nan  NaN  NaN  NaN  NaN
11  39.0  15600   1760  1977  Separately        10  nan  NaN  NaN  NaN  NaN
12  42.0  17600   1960  1977  Separately        10  nan  NaN  NaN  NaN  NaN
13  45.0  19600   2160  1977  Separately        10  nan  NaN  NaN  NaN  NaN
14  48.0  21600   2360  1977  Separately        10  nan  NaN  NaN  NaN  NaN
15  50.0  23600   2760  1977  Separately        10  nan  NaN  NaN  NaN  NaN
16  53.0  27600   3360  1977  Separately        10  nan  NaN  NaN  NaN  NaN
17  55.0  33600   3960  1977  Separately        10  nan  NaN  NaN  NaN  NaN
18  58.0  39600   4560  1977  Separately        10  nan  NaN  NaN  NaN  NaN
19  60.0  45600   5160  1977  Separately        10  nan  NaN  NaN  NaN  NaN
20  62.0  51600   6160  1977  Separately        10  nan  NaN  NaN  NaN  NaN
21  64.0  61600   7160  1977  Separately        10  nan  NaN  NaN  NaN  NaN
22  66.0  71600   8160  1977  Separately        10  nan  NaN  NaN  NaN  NaN
23  68.0  81600   9160  1977  Separately        10  nan  NaN  NaN  NaN  NaN
24  69.0  91600  10160  1977  Separately        10  nan  NaN  NaN  NaN  NaN

('Separately', 11)

       0      1      2  year    tax_type  page_num    3    4    5    6    7
0   14.0      0     50  1976  Separately        11  nan  NaN  NaN  NaN  NaN
1   15.0    500    100  1976  Separately        11  nan  NaN  NaN  NaN  NaN
2   16.0   1000    150  1976  Separately        11  nan  NaN  NaN  NaN  NaN
3   17.0   1500    200  1976  Separately        11  nan  NaN  NaN  NaN  NaN
4   19.0   2000    400  1976  Separately        11  nan  NaN  NaN  NaN  NaN
5   22.0   4000    600  1976  Separately        11  nan  NaN  NaN  NaN  NaN
6   25.0   6000    800  1976  Separately        11  nan  NaN  NaN  NaN  NaN
7   28.0   8000   1000  1976  Separately        11  nan  NaN  NaN  NaN  NaN
8   32.0  10000   1200  1976  Separately        11  nan  NaN  NaN  NaN  NaN
9   36.0  12000   1400  1976  Separately        11  nan  NaN  NaN  NaN  NaN
10  39.0  14000   1600  1976  Separately        11  nan  NaN  NaN  NaN  NaN
11  42.0  16000   1800  1976  Separately        11  nan  NaN  NaN  NaN  NaN
12  45.0  18000   2000  1976  Separately        11  nan  NaN  NaN  NaN  NaN
13  48.0  20000   2200  1976  Separately        11  nan  NaN  NaN  NaN  NaN
14  50.0  22000   2600  1976  Separately        11  nan  NaN  NaN  NaN  NaN
15  53.0  26000   3200  1976  Separately        11  nan  NaN  NaN  NaN  NaN
16  55.0  32000   3800  1976  Separately        11  nan  NaN  NaN  NaN  NaN
17  58.0  38000   4400  1976  Separately        11  nan  NaN  NaN  NaN  NaN
18  60.0  44000   5000  1976  Separately        11  nan  NaN  NaN  NaN  NaN
19  62.0  50000   6000  1976  Separately        11  nan  NaN  NaN  NaN  NaN
20  64.0  60000   7000  1976  Separately        11  nan  NaN  NaN  NaN  NaN
21  66.0  70000   8000  1976  Separately        11  nan  NaN  NaN  NaN  NaN
22  68.0  80000   9000  1976  Separately        11  nan  NaN  NaN  NaN  NaN
23  69.0  90000  10000  1976  Separately        11  nan  NaN  NaN  NaN  NaN

('Separately', 12)

       0      1      2  year    tax_type  page_num    3    4    5    6    7
0   14.0      0     50  1977  Separately        12  nan  NaN  NaN  NaN  NaN
1   15.0    500    100  1977  Separately        12  nan  NaN  NaN  NaN  NaN
2   16.0   1000    150  1977  Separately        12  nan  NaN  NaN  NaN  NaN
3   17.0   1500    200  1977  Separately        12  nan  NaN  NaN  NaN  NaN
4   19.0   2000    400  1977  Separately        12  nan  NaN  NaN  NaN  NaN
5   22.0   4000    600  1977  Separately        12  nan  NaN  NaN  NaN  NaN
6   25.0   6000    800  1977  Separately        12  nan  NaN  NaN  NaN  NaN
7   28.0   8000   1000  1977  Separately        12  nan  NaN  NaN  NaN  NaN
8   32.0  10000   1200  1977  Separately        12  nan  NaN  NaN  NaN  NaN
9   36.0  12000   1400  1977  Separately        12  nan  NaN  NaN  NaN  NaN
10  39.0  14000   1600  1977  Separately        12  nan  NaN  NaN  NaN  NaN
11  42.0  16000   1800  1977  Separately        12  nan  NaN  NaN  NaN  NaN
12  45.0  18000   2000  1977  Separately        12  nan  NaN  NaN  NaN  NaN
13  48.0  20000   2200  1977  Separately        12  nan  NaN  NaN  NaN  NaN
14  50.0  22000   2600  1977  Separately        12  nan  NaN  NaN  NaN  NaN
15  53.0  26000   3200  1977  Separately        12  nan  NaN  NaN  NaN  NaN
16  55.0  32000   3800  1977  Separately        12  nan  NaN  NaN  NaN  NaN
17  58.0  38000   4400  1977  Separately        12  nan  NaN  NaN  NaN  NaN
18  60.0  44000   5000  1977  Separately        12  nan  NaN  NaN  NaN  NaN
19  62.0  50000   6000  1977  Separately        12  nan  NaN  NaN  NaN  NaN
20  64.0  60000   7000  1977  Separately        12  nan  NaN  NaN  NaN  NaN
21  66.0  70000   8000  1977  Separately        12  nan  NaN  NaN  NaN  NaN
22  68.0  80000   9000  1977  Separately        12  nan  NaN  NaN  NaN  NaN
23  69.0  90000  10000  1977  Separately        12  nan  NaN  NaN  NaN  NaN

('Separately', 13)

       0      1      2  year    tax_type  page_num    3    4    5    6    7
0   14.0      0     50  1974  Separately        13  nan  NaN  NaN  NaN  NaN
1   15.0    500    100  1974  Separately        13  nan  NaN  NaN  NaN  NaN
2   16.0   1000    150  1974  Separately        13  nan  NaN  NaN  NaN  NaN
3   17.0   1500    200  1974  Separately        13  nan  NaN  NaN  NaN  NaN
4   19.0   2000    400  1974  Separately        13  nan  NaN  NaN  NaN  NaN
5   22.0   4000    600  1974  Separately        13  nan  NaN  NaN  NaN  NaN
6   25.0   6000    800  1974  Separately        13  nan  NaN  NaN  NaN  NaN
7   28.0   8000   1000  1974  Separately        13  nan  NaN  NaN  NaN  NaN
8   32.0  10000   1200  1974  Separately        13  nan  NaN  NaN  NaN  NaN
9   36.0  12000   1400  1974  Separately        13  nan  NaN  NaN  NaN  NaN
10  39.0  14000   1600  1974  Separately        13  nan  NaN  NaN  NaN  NaN
11  42.0  16000   1800  1974  Separately        13  nan  NaN  NaN  NaN  NaN
12  45.0  18000   2000  1974  Separately        13  nan  NaN  NaN  NaN  NaN
13  48.0  20000   2200  1974  Separately        13  nan  NaN  NaN  NaN  NaN
14  50.0  22000   2600  1974  Separately        13  nan  NaN  NaN  NaN  NaN
15  53.0  26000   3200  1974  Separately        13  nan  NaN  NaN  NaN  NaN
16  55.0  32000   3800  1974  Separately        13  nan  NaN  NaN  NaN  NaN
17  58.0  38000   4400  1974  Separately        13  nan  NaN  NaN  NaN  NaN
18  60.0  44000   5000  1974  Separately        13  nan  NaN  NaN  NaN  NaN
19  62.0  50000   6000  1974  Separately        13  nan  NaN  NaN  NaN  NaN
20  64.0  60000   7000  1974  Separately        13  nan  NaN  NaN  NaN  NaN
21  66.0  70000   8000  1974  Separately        13  nan  NaN  NaN  NaN  NaN
22  68.0  80000   9000  1974  Separately        13  nan  NaN  NaN  NaN  NaN
23  69.0  90000  10000  1974  Separately        13  nan  NaN  NaN  NaN  NaN

('Separately', 14)

       0      1      2  year    tax_type  page_num    3    4    5    6    7
0   14.0      0     50  1973  Separately        14  nan  NaN  NaN  NaN  NaN
1   15.0    500    100  1973  Separately        14  nan  NaN  NaN  NaN  NaN
2   16.0   1000    150  1973  Separately        14  nan  NaN  NaN  NaN  NaN
3   17.0   1500    200  1973  Separately        14  nan  NaN  NaN  NaN  NaN
4   19.0   2000    400  1973  Separately        14  nan  NaN  NaN  NaN  NaN
5   22.0   4000    600  1973  Separately        14  nan  NaN  NaN  NaN  NaN
6   25.0   6000    800  1973  Separately        14  nan  NaN  NaN  NaN  NaN
7   28.0   8000   1000  1973  Separately        14  nan  NaN  NaN  NaN  NaN
8   32.0  10000   1200  1973  Separately        14  nan  NaN  NaN  NaN  NaN
9   36.0  12000   1400  1973  Separately        14  nan  NaN  NaN  NaN  NaN
10  39.0  14000   1600  1973  Separately        14  nan  NaN  NaN  NaN  NaN
11  42.0  16000   1800  1973  Separately        14  nan  NaN  NaN  NaN  NaN
12  45.0  18000   2000  1973  Separately        14  nan  NaN  NaN  NaN  NaN
13  48.0  20000   2200  1973  Separately        14  nan  NaN  NaN  NaN  NaN
14  50.0  22000   2600  1973  Separately        14  nan  NaN  NaN  NaN  NaN
15  53.0  26000   3200  1973  Separately        14  nan  NaN  NaN  NaN  NaN
16  55.0  32000   3800  1973  Separately        14  nan  NaN  NaN  NaN  NaN
17  58.0  38000   4400  1973  Separately        14  nan  NaN  NaN  NaN  NaN
18  60.0  44000   5000  1973  Separately        14  nan  NaN  NaN  NaN  NaN
19  62.0  50000   6000  1973  Separately        14  nan  NaN  NaN  NaN  NaN
20  64.0  60000   7000  1973  Separately        14  nan  NaN  NaN  NaN  NaN
21  66.0  70000   8000  1973  Separately        14  nan  NaN  NaN  NaN  NaN
22  68.0  80000   9000  1973  Separately        14  nan  NaN  NaN  NaN  NaN
23  69.0  90000  10000  1973  Separately        14  nan  NaN  NaN  NaN  NaN

('Separately', 15)

       0      1      2  year    tax_type  page_num    3    4    5    6    7
0   14.0      0     50  1972  Separately        15  nan  NaN  NaN  NaN  NaN
1   15.0    500    100  1972  Separately        15  nan  NaN  NaN  NaN  NaN
2   16.0   1000    150  1972  Separately        15  nan  NaN  NaN  NaN  NaN
3   17.0   1500    200  1972  Separately        15  nan  NaN  NaN  NaN  NaN
4   19.0   2000    400  1972  Separately        15  nan  NaN  NaN  NaN  NaN
5   22.0   4000    600  1972  Separately        15  nan  NaN  NaN  NaN  NaN
6   25.0   6000    800  1972  Separately        15  nan  NaN  NaN  NaN  NaN
7   28.0   8000   1000  1972  Separately        15  nan  NaN  NaN  NaN  NaN
8   32.0  10000   1200  1972  Separately        15  nan  NaN  NaN  NaN  NaN
9   36.0  12000   1400  1972  Separately        15  nan  NaN  NaN  NaN  NaN
10  39.0  14000   1600  1972  Separately        15  nan  NaN  NaN  NaN  NaN
11  42.0  16000   1800  1972  Separately        15  nan  NaN  NaN  NaN  NaN
12  45.0  18000   2000  1972  Separately        15  nan  NaN  NaN  NaN  NaN
13  48.0  20000   2200  1972  Separately        15  nan  NaN  NaN  NaN  NaN
14  50.0  22000   2600  1972  Separately        15  nan  NaN  NaN  NaN  NaN
15  53.0  26000   3200  1972  Separately        15  nan  NaN  NaN  NaN  NaN
16  55.0  32000   3800  1972  Separately        15  nan  NaN  NaN  NaN  NaN
17  58.0  38000   4400  1972  Separately        15  nan  NaN  NaN  NaN  NaN
18  60.0  44000   5000  1972  Separately        15  nan  NaN  NaN  NaN  NaN
19  62.0  50000   6000  1972  Separately        15  nan  NaN  NaN  NaN  NaN
20  64.0  60000   7000  1972  Separately        15  nan  NaN  NaN  NaN  NaN
21  66.0  70000   8000  1972  Separately        15  nan  NaN  NaN  NaN  NaN
22  68.0  80000   9000  1972  Separately        15  nan  NaN  NaN  NaN  NaN
23  69.0  90000  10000  1972  Separately        15  nan  NaN  NaN  NaN  NaN

('Separately', 16)

       0      1      2  year    tax_type  page_num    3    4    5    6    7
0   14.0      0     50  1971  Separately        16  nan  NaN  NaN  NaN  NaN
1   15.0    500    100  1971  Separately        16  nan  NaN  NaN  NaN  NaN
2   16.0   1000    150  1971  Separately        16  nan  NaN  NaN  NaN  NaN
3   17.0   1500    200  1971  Separately        16  nan  NaN  NaN  NaN  NaN
4   19.0   2000    400  1971  Separately        16  nan  NaN  NaN  NaN  NaN
5   22.0   4000    600  1971  Separately        16  nan  NaN  NaN  NaN  NaN
6   25.0   6000    800  1971  Separately        16  nan  NaN  NaN  NaN  NaN
7   28.0   8000   1000  1971  Separately        16  nan  NaN  NaN  NaN  NaN
8   32.0  10000   1200  1971  Separately        16  nan  NaN  NaN  NaN  NaN
9   36.0  12000   1400  1971  Separately        16  nan  NaN  NaN  NaN  NaN
10  39.0  14000   1600  1971  Separately        16  nan  NaN  NaN  NaN  NaN
11  42.0  16000   1800  1971  Separately        16  nan  NaN  NaN  NaN  NaN
12  45.0  18000   2000  1971  Separately        16  nan  NaN  NaN  NaN  NaN
13  48.0  20000   2200  1971  Separately        16  nan  NaN  NaN  NaN  NaN
14  50.0  22000   2600  1971  Separately        16  nan  NaN  NaN  NaN  NaN
15  53.0  26000   3200  1971  Separately        16  nan  NaN  NaN  NaN  NaN
16  55.0  32000   3800  1971  Separately        16  nan  NaN  NaN  NaN  NaN
17  58.0  38000   4400  1971  Separately        16  nan  NaN  NaN  NaN  NaN
18  60.0  44000   5000  1971  Separately        16  nan  NaN  NaN  NaN  NaN
19  62.0  50000   6000  1971  Separately        16  nan  NaN  NaN  NaN  NaN
20  64.0  60000   7000  1971  Separately        16  nan  NaN  NaN  NaN  NaN
21  66.0  70000   8000  1971  Separately        16  nan  NaN  NaN  NaN  NaN
22  68.0  80000   9000  1971  Separately        16  nan  NaN  NaN  NaN  NaN
23  69.0  90000  10000  1971  Separately        16  nan  NaN  NaN  NaN  NaN

('Separately', 17)

       0      1      2  year    tax_type  page_num    3    4    5    6    7
0   14.0      0     50  1970  Separately        17  nan  NaN  NaN  NaN  NaN
1   15.0    500    100  1970  Separately        17  nan  NaN  NaN  NaN  NaN
2   16.0   1000    150  1970  Separately        17  nan  NaN  NaN  NaN  NaN
3   17.0   1500    200  1970  Separately        17  nan  NaN  NaN  NaN  NaN
4   19.0   2000    400  1970  Separately        17  nan  NaN  NaN  NaN  NaN
5   22.0   4000    600  1970  Separately        17  nan  NaN  NaN  NaN  NaN
6   25.0   6000    800  1970  Separately        17  nan  NaN  NaN  NaN  NaN
7   28.0   8000   1000  1970  Separately        17  nan  NaN  NaN  NaN  NaN
8   32.0  10000   1200  1970  Separately        17  nan  NaN  NaN  NaN  NaN
9   36.0  12000   1400  1970  Separately        17  nan  NaN  NaN  NaN  NaN
10  39.0  14000   1600  1970  Separately        17  nan  NaN  NaN  NaN  NaN
11  42.0  16000   1800  1970  Separately        17  nan  NaN  NaN  NaN  NaN
12  45.0  18000   2000  1970  Separately        17  nan  NaN  NaN  NaN  NaN
13  48.0  20000   2200  1970  Separately        17  nan  NaN  NaN  NaN  NaN
14  50.0  22000   2600  1970  Separately        17  nan  NaN  NaN  NaN  NaN
15  53.0  26000   3200  1970  Separately        17  nan  NaN  NaN  NaN  NaN
16  55.0  32000   3800  1970  Separately        17  nan  NaN  NaN  NaN  NaN
17  58.0  38000   4400  1970  Separately        17  nan  NaN  NaN  NaN  NaN
18  60.0  44000   5000  1970  Separately        17  nan  NaN  NaN  NaN  NaN
19  62.0  50000   6000  1970  Separately        17  nan  NaN  NaN  NaN  NaN
20  64.0  60000   7000  1970  Separately        17  nan  NaN  NaN  NaN  NaN
21  66.0  70000   8000  1970  Separately        17  nan  NaN  NaN  NaN  NaN
22  68.0  80000   9000  1970  Separately        17  nan  NaN  NaN  NaN  NaN
23  69.0  90000  10000  1970  Separately        17  nan  NaN  NaN  NaN  NaN

('Separately', 18)

       0      1      2  year    tax_type  page_num    3    4    5    6    7
0   14.0      0     50  1969  Separately        18  nan  NaN  NaN  NaN  NaN
1   15.0    500    100  1969  Separately        18  nan  NaN  NaN  NaN  NaN
2   16.0   1000    150  1969  Separately        18  nan  NaN  NaN  NaN  NaN
3   17.0   1500    200  1969  Separately        18  nan  NaN  NaN  NaN  NaN
4   19.0   2000    400  1969  Separately        18  nan  NaN  NaN  NaN  NaN
5   22.0   4000    600  1969  Separately        18  nan  NaN  NaN  NaN  NaN
6   25.0   6000    800  1969  Separately        18  nan  NaN  NaN  NaN  NaN
7   28.0   8000   1000  1969  Separately        18  nan  NaN  NaN  NaN  NaN
8   32.0  10000   1200  1969  Separately        18  nan  NaN  NaN  NaN  NaN
9   36.0  12000   1400  1969  Separately        18  nan  NaN  NaN  NaN  NaN
10  39.0  14000   1600  1969  Separately        18  nan  NaN  NaN  NaN  NaN
11  42.0  16000   1800  1969  Separately        18  nan  NaN  NaN  NaN  NaN
12  45.0  18000   2000  1969  Separately        18  nan  NaN  NaN  NaN  NaN
13  48.0  20000   2200  1969  Separately        18  nan  NaN  NaN  NaN  NaN
14  50.0  22000   2600  1969  Separately        18  nan  NaN  NaN  NaN  NaN
15  53.0  26000   3200  1969  Separately        18  nan  NaN  NaN  NaN  NaN
16  55.0  32000   3800  1969  Separately        18  nan  NaN  NaN  NaN  NaN
17  58.0  38000   4400  1969  Separately        18  nan  NaN  NaN  NaN  NaN
18  60.0  44000   5000  1969  Separately        18  nan  NaN  NaN  NaN  NaN
19  62.0  50000   6000  1969  Separately        18  nan  NaN  NaN  NaN  NaN
20  64.0  60000   7000  1969  Separately        18  nan  NaN  NaN  NaN  NaN
21  66.0  70000   8000  1969  Separately        18  nan  NaN  NaN  NaN  NaN
22  68.0  80000   9000  1969  Separately        18  nan  NaN  NaN  NaN  NaN
23  69.0  90000  10000  1969  Separately        18  nan  NaN  NaN  NaN  NaN

('Separately', 19)

       0      1      2  year    tax_type  page_num    3    4    5    6    7
0   14.0      0     50  1968  Separately        19  nan  NaN  NaN  NaN  NaN
1   15.0    500    100  1968  Separately        19  nan  NaN  NaN  NaN  NaN
2   16.0   1000    150  1968  Separately        19  nan  NaN  NaN  NaN  NaN
3   17.0   1500    200  1968  Separately        19  nan  NaN  NaN  NaN  NaN
4   19.0   2000    400  1968  Separately        19  nan  NaN  NaN  NaN  NaN
5   22.0   4000    600  1968  Separately        19  nan  NaN  NaN  NaN  NaN
6   25.0   6000    800  1968  Separately        19  nan  NaN  NaN  NaN  NaN
7   28.0   8000   1000  1968  Separately        19  nan  NaN  NaN  NaN  NaN
8   32.0  10000   1200  1968  Separately        19  nan  NaN  NaN  NaN  NaN
9   36.0  12000   1400  1968  Separately        19  nan  NaN  NaN  NaN  NaN
10  39.0  14000   1600  1968  Separately        19  nan  NaN  NaN  NaN  NaN
11  42.0  16000   1800  1968  Separately        19  nan  NaN  NaN  NaN  NaN
12  45.0  18000   2000  1968  Separately        19  nan  NaN  NaN  NaN  NaN
13  48.0  20000   2200  1968  Separately        19  nan  NaN  NaN  NaN  NaN
14  50.0  22000   2600  1968  Separately        19  nan  NaN  NaN  NaN  NaN
15  53.0  26000   3200  1968  Separately        19  nan  NaN  NaN  NaN  NaN
16  55.0  32000   3800  1968  Separately        19  nan  NaN  NaN  NaN  NaN
17  58.0  38000   4400  1968  Separately        19  nan  NaN  NaN  NaN  NaN
18  60.0  44000   5000  1968  Separately        19  nan  NaN  NaN  NaN  NaN
19  62.0  50000   6000  1968  Separately        19  nan  NaN  NaN  NaN  NaN
20  64.0  60000   7000  1968  Separately        19  nan  NaN  NaN  NaN  NaN
21  66.0  70000   8000  1968  Separately        19  nan  NaN  NaN  NaN  NaN
22  68.0  80000   9000  1968  Separately        19  nan  NaN  NaN  NaN  NaN
23  69.0  90000  10000  1968  Separately        19  nan  NaN  NaN  NaN  NaN

('Separately', 20)

       0      1      2  year    tax_type  page_num    3    4    5    6    7
0   14.0      0     50  1967  Separately        20  nan  NaN  NaN  NaN  NaN
1   15.0    500    100  1967  Separately        20  nan  NaN  NaN  NaN  NaN
2   16.0   1000    150  1967  Separately        20  nan  NaN  NaN  NaN  NaN
3   17.0   1500    200  1967  Separately        20  nan  NaN  NaN  NaN  NaN
4   19.0   2000    400  1967  Separately        20  nan  NaN  NaN  NaN  NaN
5   22.0   4000    600  1967  Separately        20  nan  NaN  NaN  NaN  NaN
6   25.0   6000    800  1967  Separately        20  nan  NaN  NaN  NaN  NaN
7   28.0   8000   1000  1967  Separately        20  nan  NaN  NaN  NaN  NaN
8   32.0  10000   1200  1967  Separately        20  nan  NaN  NaN  NaN  NaN
9   36.0  12000   1400  1967  Separately        20  nan  NaN  NaN  NaN  NaN
10  39.0  14000   1600  1967  Separately        20  nan  NaN  NaN  NaN  NaN
11  42.0  16000   1800  1967  Separately        20  nan  NaN  NaN  NaN  NaN
12  45.0  18000   2000  1967  Separately        20  nan  NaN  NaN  NaN  NaN
13  48.0  20000   2200  1967  Separately        20  nan  NaN  NaN  NaN  NaN
14  50.0  22000   2600  1967  Separately        20  nan  NaN  NaN  NaN  NaN
15  53.0  26000   3200  1967  Separately        20  nan  NaN  NaN  NaN  NaN
16  55.0  32000   3800  1967  Separately        20  nan  NaN  NaN  NaN  NaN
17  58.0  38000   4400  1967  Separately        20  nan  NaN  NaN  NaN  NaN
18  60.0  44000   5000  1967  Separately        20  nan  NaN  NaN  NaN  NaN
19  62.0  50000   6000  1967  Separately        20  nan  NaN  NaN  NaN  NaN
20  64.0  60000   7000  1967  Separately        20  nan  NaN  NaN  NaN  NaN
21  66.0  70000   8000  1967  Separately        20  nan  NaN  NaN  NaN  NaN
22  68.0  80000   9000  1967  Separately        20  nan  NaN  NaN  NaN  NaN
23  69.0  90000  10000  1967  Separately        20  nan  NaN  NaN  NaN  NaN

('Separately', 21)

       0      1      2  year    tax_type  page_num    3    4    5    6    7
0   14.0      0     50  1966  Separately        21  nan  NaN  NaN  NaN  NaN
1   15.0    500    100  1966  Separately        21  nan  NaN  NaN  NaN  NaN
2   16.0   1000    150  1966  Separately        21  nan  NaN  NaN  NaN  NaN
3   17.0   1500    200  1966  Separately        21  nan  NaN  NaN  NaN  NaN
4   19.0   2000    400  1966  Separately        21  nan  NaN  NaN  NaN  NaN
5   22.0   4000    600  1966  Separately        21  nan  NaN  NaN  NaN  NaN
6   25.0   6000    800  1966  Separately        21  nan  NaN  NaN  NaN  NaN
7   28.0   8000   1000  1966  Separately        21  nan  NaN  NaN  NaN  NaN
8   32.0  10000   1200  1966  Separately        21  nan  NaN  NaN  NaN  NaN
9   36.0  12000   1400  1966  Separately        21  nan  NaN  NaN  NaN  NaN
10  39.0  14000   1600  1966  Separately        21  nan  NaN  NaN  NaN  NaN
11  42.0  16000   1800  1966  Separately        21  nan  NaN  NaN  NaN  NaN
12  45.0  18000   2000  1966  Separately        21  nan  NaN  NaN  NaN  NaN
13  48.0  20000   2200  1966  Separately        21  nan  NaN  NaN  NaN  NaN
14  50.0  22000   2600  1966  Separately        21  nan  NaN  NaN  NaN  NaN
15  53.0  26000   3200  1966  Separately        21  nan  NaN  NaN  NaN  NaN
16  55.0  32000   3800  1966  Separately        21  nan  NaN  NaN  NaN  NaN
17  58.0  38000   4400  1966  Separately        21  nan  NaN  NaN  NaN  NaN
18  60.0  44000   5000  1966  Separately        21  nan  NaN  NaN  NaN  NaN
19  62.0  50000   6000  1966  Separately        21  nan  NaN  NaN  NaN  NaN
20  64.0  60000   7000  1966  Separately        21  nan  NaN  NaN  NaN  NaN
21  66.0  70000   8000  1966  Separately        21  nan  NaN  NaN  NaN  NaN
22  68.0  80000   9000  1966  Separately        21  nan  NaN  NaN  NaN  NaN
23  69.0  90000  10000  1966  Separately        21  nan  NaN  NaN  NaN  NaN

('Separately', 22)

       0      1      2  year    tax_type  page_num    3    4    5    6    7
0   14.0      0     50  1965  Separately        22  nan  NaN  NaN  NaN  NaN
1   15.0    500    100  1965  Separately        22  nan  NaN  NaN  NaN  NaN
2   16.0   1000    150  1965  Separately        22  nan  NaN  NaN  NaN  NaN
3   17.0   1500    200  1965  Separately        22  nan  NaN  NaN  NaN  NaN
4   19.0   2000    400  1965  Separately        22  nan  NaN  NaN  NaN  NaN
5   22.0   4000    600  1965  Separately        22  nan  NaN  NaN  NaN  NaN
6   25.0   6000    800  1965  Separately        22  nan  NaN  NaN  NaN  NaN
7   28.0   8000   1000  1965  Separately        22  nan  NaN  NaN  NaN  NaN
8   32.0  10000   1200  1965  Separately        22  nan  NaN  NaN  NaN  NaN
9   36.0  12000   1400  1965  Separately        22  nan  NaN  NaN  NaN  NaN
10  39.0  14000   1600  1965  Separately        22  nan  NaN  NaN  NaN  NaN
11  42.0  16000   1800  1965  Separately        22  nan  NaN  NaN  NaN  NaN
12  45.0  18000   2000  1965  Separately        22  nan  NaN  NaN  NaN  NaN
13  48.0  20000   2200  1965  Separately        22  nan  NaN  NaN  NaN  NaN
14  50.0  22000   2600  1965  Separately        22  nan  NaN  NaN  NaN  NaN
15  53.0  26000   3200  1965  Separately        22  nan  NaN  NaN  NaN  NaN
16  55.0  32000   3800  1965  Separately        22  nan  NaN  NaN  NaN  NaN
17  58.0  38000   4400  1965  Separately        22  nan  NaN  NaN  NaN  NaN
18  60.0  44000   5000  1965  Separately        22  nan  NaN  NaN  NaN  NaN
19  62.0  50000   6000  1965  Separately        22  nan  NaN  NaN  NaN  NaN
20  64.0  60000   7000  1965  Separately        22  nan  NaN  NaN  NaN  NaN
21  66.0  70000   8000  1965  Separately        22  nan  NaN  NaN  NaN  NaN
22  68.0  80000   9000  1965  Separately        22  nan  NaN  NaN  NaN  NaN
23  69.0  90000  10000  1965  Separately        22  nan  NaN  NaN  NaN  NaN

('Separately', 23)

       0       1      2  year    tax_type  page_num    3    4    5    6    7
0   16.0       0     50  1964  Separately        23  nan  NaN  NaN  NaN  NaN
1   16.5     500    100  1964  Separately        23  nan  NaN  NaN  NaN  NaN
2   17.5    1000    150  1964  Separately        23  nan  NaN  NaN  NaN  NaN
3   18.0    1500    200  1964  Separately        23  nan  NaN  NaN  NaN  NaN
4   20.0    2000    400  1964  Separately        23  nan  NaN  NaN  NaN  NaN
5   23.5    4000    600  1964  Separately        23  nan  NaN  NaN  NaN  NaN
6   27.0    6000    800  1964  Separately        23  nan  NaN  NaN  NaN  NaN
7   30.5    8000   1000  1964  Separately        23  nan  NaN  NaN  NaN  NaN
8   34.0   10000   1200  1964  Separately        23  nan  NaN  NaN  NaN  NaN
9   37.5   12000   1400  1964  Separately        23  nan  NaN  NaN  NaN  NaN
10  41.0   14000   1600  1964  Separately        23  nan  NaN  NaN  NaN  NaN
11  44.5   16000   1800  1964  Separately        23  nan  NaN  NaN  NaN  NaN
12  47.5   18000   2000  1964  Separately        23  nan  NaN  NaN  NaN  NaN
13  50.5   20000   2200  1964  Separately        23  nan  NaN  NaN  NaN  NaN
14  53.5   22000   2600  1964  Separately        23  nan  NaN  NaN  NaN  NaN
15  56.0   26000   3200  1964  Separately        23  nan  NaN  NaN  NaN  NaN
16  58.5   32000   3800  1964  Separately        23  nan  NaN  NaN  NaN  NaN
17  61.0   38000   4400  1964  Separately        23  nan  NaN  NaN  NaN  NaN
18  63.5   44000   5000  1964  Separately        23  nan  NaN  NaN  NaN  NaN
19  66.0   50000   6000  1964  Separately        23  nan  NaN  NaN  NaN  NaN
20  68.5   60000   7000  1964  Separately        23  nan  NaN  NaN  NaN  NaN
21  71.0   70000   8000  1964  Separately        23  nan  NaN  NaN  NaN  NaN
22  73.5   80000   9000  1964  Separately        23  nan  NaN  NaN  NaN  NaN
23  75.0   90000  10000  1964  Separately        23  nan  NaN  NaN  NaN  NaN
24  76.5  100000  20000  1964  Separately        23  nan  NaN  NaN  NaN  NaN

('Separately', 24)

       0       1      2  year    tax_type  page_num    3    4    5    6    7
0   20.0       0    200  1962  Separately        24  nan  NaN  NaN  NaN  NaN
1   22.0    2000    400  1962  Separately        24  nan  NaN  NaN  NaN  NaN
2   26.0    4000    600  1962  Separately        24  nan  NaN  NaN  NaN  NaN
3   30.0    6000    800  1962  Separately        24  nan  NaN  NaN  NaN  NaN
4   34.0    8000   1000  1962  Separately        24  nan  NaN  NaN  NaN  NaN
5   38.0   10000   1200  1962  Separately        24  nan  NaN  NaN  NaN  NaN
6   43.0   12000   1400  1962  Separately        24  nan  NaN  NaN  NaN  NaN
7   47.0   14000   1600  1962  Separately        24  nan  NaN  NaN  NaN  NaN
8   50.0   16000   1800  1962  Separately        24  nan  NaN  NaN  NaN  NaN
9   53.0   18000   2000  1962  Separately        24  nan  NaN  NaN  NaN  NaN
10  56.0   20000   2200  1962  Separately        24  nan  NaN  NaN  NaN  NaN
11  59.0   22000   2600  1962  Separately        24  nan  NaN  NaN  NaN  NaN
12  62.0   26000   3200  1962  Separately        24  nan  NaN  NaN  NaN  NaN
13  65.0   32000   3800  1962  Separately        24  nan  NaN  NaN  NaN  NaN
14  69.0   38000   4400  1962  Separately        24  nan  NaN  NaN  NaN  NaN
15  72.0   44000   5000  1962  Separately        24  nan  NaN  NaN  NaN  NaN
16  75.0   50000   6000  1962  Separately        24  nan  NaN  NaN  NaN  NaN
17  78.0   60000   7000  1962  Separately        24  nan  NaN  NaN  NaN  NaN
18  81.0   70000   8000  1962  Separately        24  nan  NaN  NaN  NaN  NaN
19  84.0   80000   9000  1962  Separately        24  nan  NaN  NaN  NaN  NaN
20  87.0   90000  10000  1962  Separately        24  nan  NaN  NaN  NaN  NaN
21  89.0  100000  15000  1962  Separately        24  nan  NaN  NaN  NaN  NaN
22  90.0  150000  20000  1962  Separately        24  nan  NaN  NaN  NaN  NaN
0   20.0       0    200  1963  Separately        24  nan  NaN  NaN  NaN  NaN
1   22.0    2000    400  1963  Separately        24  nan  NaN  NaN  NaN  NaN
2   26.0    4000    600  1963  Separately        24  nan  NaN  NaN  NaN  NaN
3   30.0    6000    800  1963  Separately        24  nan  NaN  NaN  NaN  NaN
4   34.0    8000   1000  1963  Separately        24  nan  NaN  NaN  NaN  NaN
5   38.0   10000   1200  1963  Separately        24  nan  NaN  NaN  NaN  NaN
6   43.0   12000   1400  1963  Separately        24  nan  NaN  NaN  NaN  NaN
7   47.0   14000   1600  1963  Separately        24  nan  NaN  NaN  NaN  NaN
8   50.0   16000   1800  1963  Separately        24  nan  NaN  NaN  NaN  NaN
9   53.0   18000   2000  1963  Separately        24  nan  NaN  NaN  NaN  NaN
10  56.0   20000   2200  1963  Separately        24  nan  NaN  NaN  NaN  NaN
11  59.0   22000   2600  1963  Separately        24  nan  NaN  NaN  NaN  NaN
12  62.0   26000   3200  1963  Separately        24  nan  NaN  NaN  NaN  NaN
13  65.0   32000   3800  1963  Separately        24  nan  NaN  NaN  NaN  NaN
14  69.0   38000   4400  1963  Separately        24  nan  NaN  NaN  NaN  NaN
15  72.0   44000   5000  1963  Separately        24  nan  NaN  NaN  NaN  NaN
16  75.0   50000   6000  1963  Separately        24  nan  NaN  NaN  NaN  NaN
17  78.0   60000   7000  1963  Separately        24  nan  NaN  NaN  NaN  NaN
18  81.0   70000   8000  1963  Separately        24  nan  NaN  NaN  NaN  NaN
19  84.0   80000   9000  1963  Separately        24  nan  NaN  NaN  NaN  NaN
20  87.0   90000  10000  1963  Separately        24  nan  NaN  NaN  NaN  NaN
21  89.0  100000  15000  1963  Separately        24  nan  NaN  NaN  NaN  NaN
22  90.0  150000  20000  1963  Separately        24  nan  NaN  NaN  NaN  NaN

('Separately', 25)

       0       1      2  year    tax_type  page_num    3    4    5    6    7
0   20.0       0    200  1960  Separately        25  nan  NaN  NaN  NaN  NaN
1   22.0    2000    400  1960  Separately        25  nan  NaN  NaN  NaN  NaN
2   26.0    4000    600  1960  Separately        25  nan  NaN  NaN  NaN  NaN
3   30.0    6000    800  1960  Separately        25  nan  NaN  NaN  NaN  NaN
4   34.0    8000   1000  1960  Separately        25  nan  NaN  NaN  NaN  NaN
5   38.0   10000   1200  1960  Separately        25  nan  NaN  NaN  NaN  NaN
6   43.0   12000   1400  1960  Separately        25  nan  NaN  NaN  NaN  NaN
7   47.0   14000   1600  1960  Separately        25  nan  NaN  NaN  NaN  NaN
8   50.0   16000   1800  1960  Separately        25  nan  NaN  NaN  NaN  NaN
9   53.0   18000   2000  1960  Separately        25  nan  NaN  NaN  NaN  NaN
10  56.0   20000   2200  1960  Separately        25  nan  NaN  NaN  NaN  NaN
11  59.0   22000   2600  1960  Separately        25  nan  NaN  NaN  NaN  NaN
12  62.0   26000   3200  1960  Separately        25  nan  NaN  NaN  NaN  NaN
13  65.0   32000   3800  1960  Separately        25  nan  NaN  NaN  NaN  NaN
14  69.0   38000   4400  1960  Separately        25  nan  NaN  NaN  NaN  NaN
15  72.0   44000   5000  1960  Separately        25  nan  NaN  NaN  NaN  NaN
16  75.0   50000   6000  1960  Separately        25  nan  NaN  NaN  NaN  NaN
17  78.0   60000   7000  1960  Separately        25  nan  NaN  NaN  NaN  NaN
18  81.0   70000   8000  1960  Separately        25  nan  NaN  NaN  NaN  NaN
19  84.0   80000   9000  1960  Separately        25  nan  NaN  NaN  NaN  NaN
20  87.0   90000  10000  1960  Separately        25  nan  NaN  NaN  NaN  NaN
21  89.0  100000  15000  1960  Separately        25  nan  NaN  NaN  NaN  NaN
22  90.0  150000  20000  1960  Separately        25  nan  NaN  NaN  NaN  NaN
0   20.0       0    200  1961  Separately        25  nan  NaN  NaN  NaN  NaN
1   22.0    2000    400  1961  Separately        25  nan  NaN  NaN  NaN  NaN
2   26.0    4000    600  1961  Separately        25  nan  NaN  NaN  NaN  NaN
3   30.0    6000    800  1961  Separately        25  nan  NaN  NaN  NaN  NaN
4   34.0    8000   1000  1961  Separately        25  nan  NaN  NaN  NaN  NaN
5   38.0   10000   1200  1961  Separately        25  nan  NaN  NaN  NaN  NaN
6   43.0   12000   1400  1961  Separately        25  nan  NaN  NaN  NaN  NaN
7   47.0   14000   1600  1961  Separately        25  nan  NaN  NaN  NaN  NaN
8   50.0   16000   1800  1961  Separately        25  nan  NaN  NaN  NaN  NaN
9   53.0   18000   2000  1961  Separately        25  nan  NaN  NaN  NaN  NaN
10  56.0   20000   2200  1961  Separately        25  nan  NaN  NaN  NaN  NaN
11  59.0   22000   2600  1961  Separately        25  nan  NaN  NaN  NaN  NaN
12  62.0   26000   3200  1961  Separately        25  nan  NaN  NaN  NaN  NaN
13  65.0   32000   3800  1961  Separately        25  nan  NaN  NaN  NaN  NaN
14  69.0   38000   4400  1961  Separately        25  nan  NaN  NaN  NaN  NaN
15  72.0   44000   5000  1961  Separately        25  nan  NaN  NaN  NaN  NaN
16  75.0   50000   6000  1961  Separately        25  nan  NaN  NaN  NaN  NaN
17  78.0   60000   7000  1961  Separately        25  nan  NaN  NaN  NaN  NaN
18  81.0   70000   8000  1961  Separately        25  nan  NaN  NaN  NaN  NaN
19  84.0   80000   9000  1961  Separately        25  nan  NaN  NaN  NaN  NaN
20  87.0   90000  10000  1961  Separately        25  nan  NaN  NaN  NaN  NaN
21  89.0  100000  15000  1961  Separately        25  nan  NaN  NaN  NaN  NaN
22  90.0  150000  20000  1961  Separately        25  nan  NaN  NaN  NaN  NaN

('Separately', 26)

       0       1      2  year    tax_type  page_num    3    4    5    6    7
0   20.0       0    200  1958  Separately        26  nan  NaN  NaN  NaN  NaN
1   22.0    2000    400  1958  Separately        26  nan  NaN  NaN  NaN  NaN
2   26.0    4000    600  1958  Separately        26  nan  NaN  NaN  NaN  NaN
3   30.0    6000    800  1958  Separately        26  nan  NaN  NaN  NaN  NaN
4   34.0    8000   1000  1958  Separately        26  nan  NaN  NaN  NaN  NaN
5   38.0   10000   1200  1958  Separately        26  nan  NaN  NaN  NaN  NaN
6   43.0   12000   1400  1958  Separately        26  nan  NaN  NaN  NaN  NaN
7   47.0   14000   1600  1958  Separately        26  nan  NaN  NaN  NaN  NaN
8   50.0   16000   1800  1958  Separately        26  nan  NaN  NaN  NaN  NaN
9   53.0   18000   2000  1958  Separately        26  nan  NaN  NaN  NaN  NaN
10  56.0   20000   2200  1958  Separately        26  nan  NaN  NaN  NaN  NaN
11  59.0   22000   2600  1958  Separately        26  nan  NaN  NaN  NaN  NaN
12  62.0   26000   3200  1958  Separately        26  nan  NaN  NaN  NaN  NaN
13  65.0   32000   3800  1958  Separately        26  nan  NaN  NaN  NaN  NaN
14  69.0   38000   4400  1958  Separately        26  nan  NaN  NaN  NaN  NaN
15  72.0   44000   5000  1958  Separately        26  nan  NaN  NaN  NaN  NaN
16  75.0   50000   6000  1958  Separately        26  nan  NaN  NaN  NaN  NaN
17  78.0   60000   7000  1958  Separately        26  nan  NaN  NaN  NaN  NaN
18  81.0   70000   8000  1958  Separately        26  nan  NaN  NaN  NaN  NaN
19  84.0   80000   9000  1958  Separately        26  nan  NaN  NaN  NaN  NaN
20  87.0   90000  10000  1958  Separately        26  nan  NaN  NaN  NaN  NaN
21  89.0  100000  15000  1958  Separately        26  nan  NaN  NaN  NaN  NaN
22  90.0  150000  20000  1958  Separately        26  nan  NaN  NaN  NaN  NaN
0   20.0       0    200  1959  Separately        26  nan  NaN  NaN  NaN  NaN
1   22.0    2000    400  1959  Separately        26  nan  NaN  NaN  NaN  NaN
2   26.0    4000    600  1959  Separately        26  nan  NaN  NaN  NaN  NaN
3   30.0    6000    800  1959  Separately        26  nan  NaN  NaN  NaN  NaN
4   34.0    8000   1000  1959  Separately        26  nan  NaN  NaN  NaN  NaN
5   38.0   10000   1200  1959  Separately        26  nan  NaN  NaN  NaN  NaN
6   43.0   12000   1400  1959  Separately        26  nan  NaN  NaN  NaN  NaN
7   47.0   14000   1600  1959  Separately        26  nan  NaN  NaN  NaN  NaN
8   50.0   16000   1800  1959  Separately        26  nan  NaN  NaN  NaN  NaN
9   53.0   18000   2000  1959  Separately        26  nan  NaN  NaN  NaN  NaN
10  56.0   20000   2200  1959  Separately        26  nan  NaN  NaN  NaN  NaN
11  59.0   22000   2600  1959  Separately        26  nan  NaN  NaN  NaN  NaN
12  62.0   26000   3200  1959  Separately        26  nan  NaN  NaN  NaN  NaN
13  65.0   32000   3800  1959  Separately        26  nan  NaN  NaN  NaN  NaN
14  69.0   38000   4400  1959  Separately        26  nan  NaN  NaN  NaN  NaN
15  72.0   44000   5000  1959  Separately        26  nan  NaN  NaN  NaN  NaN
16  75.0   50000   6000  1959  Separately        26  nan  NaN  NaN  NaN  NaN
17  78.0   60000   7000  1959  Separately        26  nan  NaN  NaN  NaN  NaN
18  81.0   70000   8000  1959  Separately        26  nan  NaN  NaN  NaN  NaN
19  84.0   80000   9000  1959  Separately        26  nan  NaN  NaN  NaN  NaN
20  87.0   90000  10000  1959  Separately        26  nan  NaN  NaN  NaN  NaN
21  89.0  100000  15000  1959  Separately        26  nan  NaN  NaN  NaN  NaN
22  90.0  150000  20000  1959  Separately        26  nan  NaN  NaN  NaN  NaN

('Separately', 27)

       0       1      2  year    tax_type  page_num    3    4    5    6    7
0   20.0       0    200  1956  Separately        27  nan  NaN  NaN  NaN  NaN
1   22.0    2000    400  1956  Separately        27  nan  NaN  NaN  NaN  NaN
2   26.0    4000    600  1956  Separately        27  nan  NaN  NaN  NaN  NaN
3   30.0    6000    800  1956  Separately        27  nan  NaN  NaN  NaN  NaN
4   34.0    8000   1000  1956  Separately        27  nan  NaN  NaN  NaN  NaN
5   38.0   10000   1200  1956  Separately        27  nan  NaN  NaN  NaN  NaN
6   43.0   12000   1400  1956  Separately        27  nan  NaN  NaN  NaN  NaN
7   47.0   14000   1600  1956  Separately        27  nan  NaN  NaN  NaN  NaN
8   50.0   16000   1800  1956  Separately        27  nan  NaN  NaN  NaN  NaN
9   53.0   18000   2000  1956  Separately        27  nan  NaN  NaN  NaN  NaN
10  56.0   20000   2200  1956  Separately        27  nan  NaN  NaN  NaN  NaN
11  59.0   22000   2600  1956  Separately        27  nan  NaN  NaN  NaN  NaN
12  62.0   26000   3200  1956  Separately        27  nan  NaN  NaN  NaN  NaN
13  65.0   32000   3800  1956  Separately        27  nan  NaN  NaN  NaN  NaN
14  69.0   38000   4400  1956  Separately        27  nan  NaN  NaN  NaN  NaN
15  72.0   44000   5000  1956  Separately        27  nan  NaN  NaN  NaN  NaN
16  75.0   50000   6000  1956  Separately        27  nan  NaN  NaN  NaN  NaN
17  78.0   60000   7000  1956  Separately        27  nan  NaN  NaN  NaN  NaN
18  81.0   70000   8000  1956  Separately        27  nan  NaN  NaN  NaN  NaN
19  84.0   80000   9000  1956  Separately        27  nan  NaN  NaN  NaN  NaN
20  87.0   90000  10000  1956  Separately        27  nan  NaN  NaN  NaN  NaN
21  89.0  100000  15000  1956  Separately        27  nan  NaN  NaN  NaN  NaN
22  90.0  150000  20000  1956  Separately        27  nan  NaN  NaN  NaN  NaN
0   20.0       0    200  1957  Separately        27  nan  NaN  NaN  NaN  NaN
1   22.0    2000    400  1957  Separately        27  nan  NaN  NaN  NaN  NaN
2   26.0    4000    600  1957  Separately        27  nan  NaN  NaN  NaN  NaN
3   30.0    6000    800  1957  Separately        27  nan  NaN  NaN  NaN  NaN
4   34.0    8000   1000  1957  Separately        27  nan  NaN  NaN  NaN  NaN
5   38.0   10000   1200  1957  Separately        27  nan  NaN  NaN  NaN  NaN
6   43.0   12000   1400  1957  Separately        27  nan  NaN  NaN  NaN  NaN
7   47.0   14000   1600  1957  Separately        27  nan  NaN  NaN  NaN  NaN
8   50.0   16000   1800  1957  Separately        27  nan  NaN  NaN  NaN  NaN
9   53.0   18000   2000  1957  Separately        27  nan  NaN  NaN  NaN  NaN
10  56.0   20000   2200  1957  Separately        27  nan  NaN  NaN  NaN  NaN
11  59.0   22000   2600  1957  Separately        27  nan  NaN  NaN  NaN  NaN
12  62.0   26000   3200  1957  Separately        27  nan  NaN  NaN  NaN  NaN
13  65.0   32000   3800  1957  Separately        27  nan  NaN  NaN  NaN  NaN
14  69.0   38000   4400  1957  Separately        27  nan  NaN  NaN  NaN  NaN
15  72.0   44000   5000  1957  Separately        27  nan  NaN  NaN  NaN  NaN
16  75.0   50000   6000  1957  Separately        27  nan  NaN  NaN  NaN  NaN
17  78.0   60000   7000  1957  Separately        27  nan  NaN  NaN  NaN  NaN
18  81.0   70000   8000  1957  Separately        27  nan  NaN  NaN  NaN  NaN
19  84.0   80000   9000  1957  Separately        27  nan  NaN  NaN  NaN  NaN
20  87.0   90000  10000  1957  Separately        27  nan  NaN  NaN  NaN  NaN
21  89.0  100000  15000  1957  Separately        27  nan  NaN  NaN  NaN  NaN
22  90.0  150000  20000  1957  Separately        27  nan  NaN  NaN  NaN  NaN

('Separately', 28)

       0       1      2  year    tax_type  page_num    3    4    5    6    7
0   20.0       0    200  1954  Separately        28  nan  NaN  NaN  NaN  NaN
1   22.0    2000    400  1954  Separately        28  nan  NaN  NaN  NaN  NaN
2   26.0    4000    600  1954  Separately        28  nan  NaN  NaN  NaN  NaN
3   30.0    6000    800  1954  Separately        28  nan  NaN  NaN  NaN  NaN
4   34.0    8000   1000  1954  Separately        28  nan  NaN  NaN  NaN  NaN
5   38.0   10000   1200  1954  Separately        28  nan  NaN  NaN  NaN  NaN
6   43.0   12000   1400  1954  Separately        28  nan  NaN  NaN  NaN  NaN
7   47.0   14000   1600  1954  Separately        28  nan  NaN  NaN  NaN  NaN
8   50.0   16000   1800  1954  Separately        28  nan  NaN  NaN  NaN  NaN
9   53.0   18000   2000  1954  Separately        28  nan  NaN  NaN  NaN  NaN
10  56.0   20000   2200  1954  Separately        28  nan  NaN  NaN  NaN  NaN
11  59.0   22000   2600  1954  Separately        28  nan  NaN  NaN  NaN  NaN
12  62.0   26000   3200  1954  Separately        28  nan  NaN  NaN  NaN  NaN
13  65.0   32000   3800  1954  Separately        28  nan  NaN  NaN  NaN  NaN
14  69.0   38000   4400  1954  Separately        28  nan  NaN  NaN  NaN  NaN
15  72.0   44000   5000  1954  Separately        28  nan  NaN  NaN  NaN  NaN
16  75.0   50000   6000  1954  Separately        28  nan  NaN  NaN  NaN  NaN
17  78.0   60000   7000  1954  Separately        28  nan  NaN  NaN  NaN  NaN
18  81.0   70000   8000  1954  Separately        28  nan  NaN  NaN  NaN  NaN
19  84.0   80000   9000  1954  Separately        28  nan  NaN  NaN  NaN  NaN
20  87.0   90000  10000  1954  Separately        28  nan  NaN  NaN  NaN  NaN
21  89.0  100000  15000  1954  Separately        28  nan  NaN  NaN  NaN  NaN
22  90.0  150000  20000  1954  Separately        28  nan  NaN  NaN  NaN  NaN
0   20.0       0    200  1955  Separately        28  nan  NaN  NaN  NaN  NaN
1   22.0    2000    400  1955  Separately        28  nan  NaN  NaN  NaN  NaN
2   26.0    4000    600  1955  Separately        28  nan  NaN  NaN  NaN  NaN
3   30.0    6000    800  1955  Separately        28  nan  NaN  NaN  NaN  NaN
4   34.0    8000   1000  1955  Separately        28  nan  NaN  NaN  NaN  NaN
5   38.0   10000   1200  1955  Separately        28  nan  NaN  NaN  NaN  NaN
6   43.0   12000   1400  1955  Separately        28  nan  NaN  NaN  NaN  NaN
7   47.0   14000   1600  1955  Separately        28  nan  NaN  NaN  NaN  NaN
8   50.0   16000   1800  1955  Separately        28  nan  NaN  NaN  NaN  NaN
9   53.0   18000   2000  1955  Separately        28  nan  NaN  NaN  NaN  NaN
10  56.0   20000   2200  1955  Separately        28  nan  NaN  NaN  NaN  NaN
11  59.0   22000   2600  1955  Separately        28  nan  NaN  NaN  NaN  NaN
12  62.0   26000   3200  1955  Separately        28  nan  NaN  NaN  NaN  NaN
13  65.0   32000   3800  1955  Separately        28  nan  NaN  NaN  NaN  NaN
14  69.0   38000   4400  1955  Separately        28  nan  NaN  NaN  NaN  NaN
15  72.0   44000   5000  1955  Separately        28  nan  NaN  NaN  NaN  NaN
16  75.0   50000   6000  1955  Separately        28  nan  NaN  NaN  NaN  NaN
17  78.0   60000   7000  1955  Separately        28  nan  NaN  NaN  NaN  NaN
18  81.0   70000   8000  1955  Separately        28  nan  NaN  NaN  NaN  NaN
19  84.0   80000   9000  1955  Separately        28  nan  NaN  NaN  NaN  NaN
20  87.0   90000  10000  1955  Separately        28  nan  NaN  NaN  NaN  NaN
21  89.0  100000  15000  1955  Separately        28  nan  NaN  NaN  NaN  NaN
22  90.0  150000  20000  1955  Separately        28  nan  NaN  NaN  NaN  NaN

('Separately', 29)

       0       1      2  year    tax_type  page_num    3    4    5    6    7
0   22.2       0    200  1953  Separately        29  nan  NaN  NaN  NaN  NaN
1   24.6    2000    400  1953  Separately        29  nan  NaN  NaN  NaN  NaN
2   29.0    4000    600  1953  Separately        29  nan  NaN  NaN  NaN  NaN
3   34.0    6000    800  1953  Separately        29  nan  NaN  NaN  NaN  NaN
4   38.0    8000   1000  1953  Separately        29  nan  NaN  NaN  NaN  NaN
5   42.0   10000   1200  1953  Separately        29  nan  NaN  NaN  NaN  NaN
6   48.0   12000   1400  1953  Separately        29  nan  NaN  NaN  NaN  NaN
7   53.0   14000   1600  1953  Separately        29  nan  NaN  NaN  NaN  NaN
8   56.0   16000   1800  1953  Separately        29  nan  NaN  NaN  NaN  NaN
9   59.0   18000   2000  1953  Separately        29  nan  NaN  NaN  NaN  NaN
10  62.0   20000   2200  1953  Separately        29  nan  NaN  NaN  NaN  NaN
11  66.0   22000   2600  1953  Separately        29  nan  NaN  NaN  NaN  NaN
12  67.0   26000   3200  1953  Separately        29  nan  NaN  NaN  NaN  NaN
13  68.0   32000   3800  1953  Separately        29  nan  NaN  NaN  NaN  NaN
14  72.0   38000   4400  1953  Separately        29  nan  NaN  NaN  NaN  NaN
15  75.0   44000   5000  1953  Separately        29  nan  NaN  NaN  NaN  NaN
16  77.0   50000   6000  1953  Separately        29  nan  NaN  NaN  NaN  NaN
17  80.0   60000   7000  1953  Separately        29  nan  NaN  NaN  NaN  NaN
18  83.0   70000   8000  1953  Separately        29  nan  NaN  NaN  NaN  NaN
19  85.0   80000   9000  1953  Separately        29  nan  NaN  NaN  NaN  NaN
20  88.0   90000  10000  1953  Separately        29  nan  NaN  NaN  NaN  NaN
21  90.0  100000  15000  1953  Separately        29  nan  NaN  NaN  NaN  NaN
22  91.0  150000  20000  1953  Separately        29  nan  NaN  NaN  NaN  NaN

('Separately', 30)

       0       1      2  year    tax_type  page_num    3    4    5    6    7
0   22.2       0    200  1952  Separately        30  nan  NaN  NaN  NaN  NaN
1   24.6    2000    400  1952  Separately        30  nan  NaN  NaN  NaN  NaN
2   29.0    4000    600  1952  Separately        30  nan  NaN  NaN  NaN  NaN
3   34.0    6000    800  1952  Separately        30  nan  NaN  NaN  NaN  NaN
4   38.0    8000   1000  1952  Separately        30  nan  NaN  NaN  NaN  NaN
5   42.0   10000   1200  1952  Separately        30  nan  NaN  NaN  NaN  NaN
6   48.0   12000   1400  1952  Separately        30  nan  NaN  NaN  NaN  NaN
7   53.0   14000   1600  1952  Separately        30  nan  NaN  NaN  NaN  NaN
8   56.0   16000   1800  1952  Separately        30  nan  NaN  NaN  NaN  NaN
9   59.0   18000   2000  1952  Separately        30  nan  NaN  NaN  NaN  NaN
10  62.0   20000   2200  1952  Separately        30  nan  NaN  NaN  NaN  NaN
11  66.0   22000   2600  1952  Separately        30  nan  NaN  NaN  NaN  NaN
12  67.0   26000   3200  1952  Separately        30  nan  NaN  NaN  NaN  NaN
13  68.0   32000   3800  1952  Separately        30  nan  NaN  NaN  NaN  NaN
14  72.0   38000   4400  1952  Separately        30  nan  NaN  NaN  NaN  NaN
15  75.0   44000   5000  1952  Separately        30  nan  NaN  NaN  NaN  NaN
16  77.0   50000   6000  1952  Separately        30  nan  NaN  NaN  NaN  NaN
17  80.0   60000   7000  1952  Separately        30  nan  NaN  NaN  NaN  NaN
18  83.0   70000   8000  1952  Separately        30  nan  NaN  NaN  NaN  NaN
19  85.0   80000   9000  1952  Separately        30  nan  NaN  NaN  NaN  NaN
20  88.0   90000  10000  1952  Separately        30  nan  NaN  NaN  NaN  NaN
21  90.0  100000  15000  1952  Separately        30  nan  NaN  NaN  NaN  NaN
22  91.0  150000  20000  1952  Separately        30  nan  NaN  NaN  NaN  NaN

('Separately', 31)

       0       1      2  year    tax_type  page_num    3    4    5    6    7
0   20.4       0    200  1951  Separately        31  nan  NaN  NaN  NaN  NaN
1   22.4    2000    400  1951  Separately        31  nan  NaN  NaN  NaN  NaN
2   27.0    4000    600  1951  Separately        31  nan  NaN  NaN  NaN  NaN
3   30.0    6000    800  1951  Separately        31  nan  NaN  NaN  NaN  NaN
4   35.0    8000   1000  1951  Separately        31  nan  NaN  NaN  NaN  NaN
5   39.0   10000   1200  1951  Separately        31  nan  NaN  NaN  NaN  NaN
6   43.0   12000   1400  1951  Separately        31  nan  NaN  NaN  NaN  NaN
7   48.0   14000   1600  1951  Separately        31  nan  NaN  NaN  NaN  NaN
8   51.0   16000   1800  1951  Separately        31  nan  NaN  NaN  NaN  NaN
9   54.0   18000   2000  1951  Separately        31  nan  NaN  NaN  NaN  NaN
10  57.0   20000   2200  1951  Separately        31  nan  NaN  NaN  NaN  NaN
11  60.0   22000   2600  1951  Separately        31  nan  NaN  NaN  NaN  NaN
12  63.0   26000   3200  1951  Separately        31  nan  NaN  NaN  NaN  NaN
13  66.0   32000   3800  1951  Separately        31  nan  NaN  NaN  NaN  NaN
14  69.0   38000   4400  1951  Separately        31  nan  NaN  NaN  NaN  NaN
15  73.0   44000   5000  1951  Separately        31  nan  NaN  NaN  NaN  NaN
16  75.0   50000   6000  1951  Separately        31  nan  NaN  NaN  NaN  NaN
17  78.0   60000   7000  1951  Separately        31  nan  NaN  NaN  NaN  NaN
18  82.0   70000   8000  1951  Separately        31  nan  NaN  NaN  NaN  NaN
19  84.0   80000   9000  1951  Separately        31  nan  NaN  NaN  NaN  NaN
20  87.0   90000  10000  1951  Separately        31  nan  NaN  NaN  NaN  NaN
21  89.0  100000  15000  1951  Separately        31  nan  NaN  NaN  NaN  NaN
22  90.0  150000  20000  1951  Separately        31  nan  NaN  NaN  NaN  NaN

('Separately', 32)

       0       1      2  year    tax_type  page_num    3    4    5    6    7
0   20.0       0    200  1950  Separately        32  nan  NaN  NaN  NaN  NaN
1   22.0    2000    400  1950  Separately        32  nan  NaN  NaN  NaN  NaN
2   26.0    4000    600  1950  Separately        32  nan  NaN  NaN  NaN  NaN
3   30.0    6000    800  1950  Separately        32  nan  NaN  NaN  NaN  NaN
4   34.0    8000   1000  1950  Separately        32  nan  NaN  NaN  NaN  NaN
5   38.0   10000   1200  1950  Separately        32  nan  NaN  NaN  NaN  NaN
6   43.0   12000   1400  1950  Separately        32  nan  NaN  NaN  NaN  NaN
7   47.0   14000   1600  1950  Separately        32  nan  NaN  NaN  NaN  NaN
8   50.0   16000   1800  1950  Separately        32  nan  NaN  NaN  NaN  NaN
9   53.0   18000   2000  1950  Separately        32  nan  NaN  NaN  NaN  NaN
10  56.0   20000   2200  1950  Separately        32  nan  NaN  NaN  NaN  NaN
11  59.0   22000   2600  1950  Separately        32  nan  NaN  NaN  NaN  NaN
12  62.0   26000   3200  1950  Separately        32  nan  NaN  NaN  NaN  NaN
13  65.0   32000   3800  1950  Separately        32  nan  NaN  NaN  NaN  NaN
14  69.0   38000   4400  1950  Separately        32  nan  NaN  NaN  NaN  NaN
15  72.0   44000   5000  1950  Separately        32  nan  NaN  NaN  NaN  NaN
16  75.0   50000   6000  1950  Separately        32  nan  NaN  NaN  NaN  NaN
17  78.0   60000   7000  1950  Separately        32  nan  NaN  NaN  NaN  NaN
18  81.0   70000   8000  1950  Separately        32  nan  NaN  NaN  NaN  NaN
19  84.0   80000   9000  1950  Separately        32  nan  NaN  NaN  NaN  NaN
20  87.0   90000  10000  1950  Separately        32  nan  NaN  NaN  NaN  NaN
21  89.0  100000  15000  1950  Separately        32  nan  NaN  NaN  NaN  NaN
22  90.0  150000  20000  1950  Separately        32  nan  NaN  NaN  NaN  NaN

('Separately', 33)

       0       1      2  year    tax_type  page_num    3    4    5    6    7
0   20.0       0    200  1949  Separately        33  nan  NaN  NaN  NaN  NaN
1   22.0    2000    400  1949  Separately        33  nan  NaN  NaN  NaN  NaN
2   26.0    4000    600  1949  Separately        33  nan  NaN  NaN  NaN  NaN
3   30.0    6000    800  1949  Separately        33  nan  NaN  NaN  NaN  NaN
4   34.0    8000   1000  1949  Separately        33  nan  NaN  NaN  NaN  NaN
5   38.0   10000   1200  1949  Separately        33  nan  NaN  NaN  NaN  NaN
6   43.0   12000   1400  1949  Separately        33  nan  NaN  NaN  NaN  NaN
7   47.0   14000   1600  1949  Separately        33  nan  NaN  NaN  NaN  NaN
8   50.0   16000   1800  1949  Separately        33  nan  NaN  NaN  NaN  NaN
9   53.0   18000   2000  1949  Separately        33  nan  NaN  NaN  NaN  NaN
10  56.0   20000   2200  1949  Separately        33  nan  NaN  NaN  NaN  NaN
11  59.0   22000   2600  1949  Separately        33  nan  NaN  NaN  NaN  NaN
12  62.0   26000   3200  1949  Separately        33  nan  NaN  NaN  NaN  NaN
13  65.0   32000   3800  1949  Separately        33  nan  NaN  NaN  NaN  NaN
14  69.0   38000   4400  1949  Separately        33  nan  NaN  NaN  NaN  NaN
15  72.0   44000   5000  1949  Separately        33  nan  NaN  NaN  NaN  NaN
16  75.0   50000   6000  1949  Separately        33  nan  NaN  NaN  NaN  NaN
17  78.0   60000   7000  1949  Separately        33  nan  NaN  NaN  NaN  NaN
18  81.0   70000   8000  1949  Separately        33  nan  NaN  NaN  NaN  NaN
19  84.0   80000   9000  1949  Separately        33  nan  NaN  NaN  NaN  NaN
20  87.0   90000  10000  1949  Separately        33  nan  NaN  NaN  NaN  NaN
21  89.0  100000  15000  1949  Separately        33  nan  NaN  NaN  NaN  NaN
22  90.0  150000  20000  1949  Separately        33  nan  NaN  NaN  NaN  NaN

('Single', 0)

      0       1       2  year tax_type  page_num    3    4    5    6    7
0  10.0       0    8925  2009   Single         0  nan  NaN  NaN  NaN  NaN
1  15.0    8925   36250  2009   Single         0  nan  NaN  NaN  NaN  NaN
2  25.0   36250   87850  2009   Single         0  nan  NaN  NaN  NaN  NaN
3  28.0   87850  183250  2009   Single         0  nan  NaN  NaN  NaN  NaN
4  33.0  183250  398350  2009   Single         0  nan  NaN  NaN  NaN  NaN
5  35.0  398350  400000  2009   Single         0  nan  NaN  NaN  NaN  NaN
0  10.0       0    8700  2010   Single         0  nan  NaN  NaN  NaN  NaN
1  15.0    8700   35350  2010   Single         0  nan  NaN  NaN  NaN  NaN
2  25.0   35350   85650  2010   Single         0  nan  NaN  NaN  NaN  NaN
3  28.0   85650  178650  2010   Single         0  nan  NaN  NaN  NaN  NaN
4  33.0  178650  388350  2010   Single         0  nan  NaN  NaN  NaN  NaN
0  10.0       0    8500  2011   Single         0  nan  NaN  NaN  NaN  NaN
1  15.0    8500   34500  2011   Single         0  nan  NaN  NaN  NaN  NaN
2  25.0   34500   83600  2011   Single         0  nan  NaN  NaN  NaN  NaN
3  28.0   83600  174400  2011   Single         0  nan  NaN  NaN  NaN  NaN
4  33.0  174400  379150  2011   Single         0  nan  NaN  NaN  NaN  NaN
0  10.0       0    8375  2012   Single         0  nan  NaN  NaN  NaN  NaN
1  15.0    8375   34000  2012   Single         0  nan  NaN  NaN  NaN  NaN
2  25.0   34000   82400  2012   Single         0  nan  NaN  NaN  NaN  NaN
3  28.0   82400  171850  2012   Single         0  nan  NaN  NaN  NaN  NaN
4  33.0  171850  373650  2012   Single         0  nan  NaN  NaN  NaN  NaN
0  10.0       0    8350  2013   Single         0  nan  NaN  NaN  NaN  NaN
1  15.0    8350   33950  2013   Single         0  nan  NaN  NaN  NaN  NaN
2  25.0   33950   82250  2013   Single         0  nan  NaN  NaN  NaN  NaN
3  28.0   82250  171550  2013   Single         0  nan  NaN  NaN  NaN  NaN
4  33.0  171550  372950  2013   Single         0  nan  NaN  NaN  NaN  NaN

('Single', 1)

      0       1       2  year tax_type  page_num    3    4    5    6    7
0  15.0    8025   32550  2004   Single         1  nan  NaN  NaN  NaN  NaN
1  25.0   32550   78850  2004   Single         1  nan  NaN  NaN  NaN  NaN
2  28.0   78850  164550  2004   Single         1  nan  NaN  NaN  NaN  NaN
3  33.0  164550  357700  2004   Single         1  nan  NaN  NaN  NaN  NaN
0  10.0       0    7825  2005   Single         1  nan  NaN  NaN  NaN  NaN
1  15.0    7825   31850  2005   Single         1  nan  NaN  NaN  NaN  NaN
2  25.0   31850   77100  2005   Single         1  nan  NaN  NaN  NaN  NaN
3  28.0   77100  160850  2005   Single         1  nan  NaN  NaN  NaN  NaN
4  33.0  160850  349700  2005   Single         1  nan  NaN  NaN  NaN  NaN
0  10.0       0    7550  2006   Single         1  nan  NaN  NaN  NaN  NaN
1  15.0    7550   30650  2006   Single         1  nan  NaN  NaN  NaN  NaN
2  25.0   30650   74200  2006   Single         1  nan  NaN  NaN  NaN  NaN
3  28.0   74200  154800  2006   Single         1  nan  NaN  NaN  NaN  NaN
4  33.0  154800  336550  2006   Single         1  nan  NaN  NaN  NaN  NaN
0  10.0       0    7300  2007   Single         1  nan  NaN  NaN  NaN  NaN
1  15.0    7300   29700  2007   Single         1  nan  NaN  NaN  NaN  NaN
2  25.0   29700   71950  2007   Single         1  nan  NaN  NaN  NaN  NaN
3  28.0   71950  150150  2007   Single         1  nan  NaN  NaN  NaN  NaN
4  33.0  150150  326450  2007   Single         1  nan  NaN  NaN  NaN  NaN
0  10.0       0    7150  2008   Single         1  nan  NaN  NaN  NaN  NaN
1  15.0    7150   29050  2008   Single         1  nan  NaN  NaN  NaN  NaN
2  25.0   29050   70350  2008   Single         1  nan  NaN  NaN  NaN  NaN
3  28.0   70350  146750  2008   Single         1  nan  NaN  NaN  NaN  NaN
4  33.0  146750  319100  2008   Single         1  nan  NaN  NaN  NaN  NaN

('Single', 2)

      0       1       2  year tax_type  page_num    3    4    5    6    7
0  15.0    7000   28400  1999   Single         2  nan  NaN  NaN  NaN  NaN
1  25.0   28400   68800  1999   Single         2  nan  NaN  NaN  NaN  NaN
2  28.0   68800  143500  1999   Single         2  nan  NaN  NaN  NaN  NaN
3  33.0  143500  311950  1999   Single         2  nan  NaN  NaN  NaN  NaN
0  10.0       0    6000  2000   Single         2  nan  NaN  NaN  NaN  NaN
1  15.0    6000   27950  2000   Single         2  nan  NaN  NaN  NaN  NaN
2  27.0   27950   67700  2000   Single         2  nan  NaN  NaN  NaN  NaN
3  30.0   67700  141250  2000   Single         2  nan  NaN  NaN  NaN  NaN
4  35.0  141250  307050  2000   Single         2  nan  NaN  NaN  NaN  NaN
0  15.0       0   27050  2001   Single         2  nan  NaN  NaN  NaN  NaN
1  27.5   27050   65550  2001   Single         2  nan  NaN  NaN  NaN  NaN
2  30.5   65550  136750  2001   Single         2  nan  NaN  NaN  NaN  NaN
3  35.5  136750  297350  2001   Single         2  nan  NaN  NaN  NaN  NaN
0  15.0       0   26250  2002   Single         2  nan  NaN  NaN  NaN  NaN
1  28.0   26250   63550  2002   Single         2  nan  NaN  NaN  NaN  NaN
2  31.0   63550  132600  2002   Single         2  nan  NaN  NaN  NaN  NaN
3  36.0  132600  288350  2002   Single         2  nan  NaN  NaN  NaN  NaN
0  15.0       0   25750  2003   Single         2  nan  NaN  NaN  NaN  NaN
1  28.0   25750   62450  2003   Single         2  nan  NaN  NaN  NaN  NaN
2  31.0   62450  130250  2003   Single         2  nan  NaN  NaN  NaN  NaN
3  36.0  130250  283150  2003   Single         2  nan  NaN  NaN  NaN  NaN

('Single', 3)

      0       1       2  year tax_type  page_num    3    4    5    6    7
0  28.0   25350   61400  1994   Single         3  nan  NaN  NaN  NaN  NaN
1  31.0   61400  128100  1994   Single         3  nan  NaN  NaN  NaN  NaN
2  36.0  128100  278450  1994   Single         3  nan  NaN  NaN  NaN  NaN
0  15.0       0   24650  1995   Single         3  nan  NaN  NaN  NaN  NaN
1  28.0   24650   59750  1995   Single         3  nan  NaN  NaN  NaN  NaN
2  31.0   59750  124650  1995   Single         3  nan  NaN  NaN  NaN  NaN
3  36.0  124650  271050  1995   Single         3  nan  NaN  NaN  NaN  NaN
0  15.0       0   24000  1996   Single         3  nan  NaN  NaN  NaN  NaN
1  28.0   24000   58150  1996   Single         3  nan  NaN  NaN  NaN  NaN
2  31.0   58150  121300  1996   Single         3  nan  NaN  NaN  NaN  NaN
3  36.0  121300  263750  1996   Single         3  nan  NaN  NaN  NaN  NaN
0  15.0       0   23350  1997   Single         3  nan  NaN  NaN  NaN  NaN
1  28.0   23350   56550  1997   Single         3  nan  NaN  NaN  NaN  NaN
2  31.0   56550  117950  1997   Single         3  nan  NaN  NaN  NaN  NaN
3  36.0  117950  256500  1997   Single         3  nan  NaN  NaN  NaN  NaN
0  15.0       0   22750  1998   Single         3  nan  NaN  NaN  NaN  NaN
1  28.0   22750   55100  1998   Single         3  nan  NaN  NaN  NaN  NaN
2  31.0   55100  115000  1998   Single         3  nan  NaN  NaN  NaN  NaN
3  36.0  115000  250000  1998   Single         3  nan  NaN  NaN  NaN  NaN

('Single', 7)

       0      1       2  year tax_type  page_num    3    4    5    6    7
0   11.0   2300    3400  1981   Single         7  nan  NaN  NaN  NaN  NaN
1   13.0   3400    4400  1981   Single         7  nan  NaN  NaN  NaN  NaN
2   15.0   4400    8500  1981   Single         7  nan  NaN  NaN  NaN  NaN
3   17.0   8500   10800  1981   Single         7  nan  NaN  NaN  NaN  NaN
4   19.0  10800   12900  1981   Single         7  nan  NaN  NaN  NaN  NaN
5   21.0  12900   15000  1981   Single         7  nan  NaN  NaN  NaN  NaN
6   24.0  15000   18200  1981   Single         7  nan  NaN  NaN  NaN  NaN
7   28.0  18200   23500  1981   Single         7  nan  NaN  NaN  NaN  NaN
8   32.0  23500   28800  1981   Single         7  nan  NaN  NaN  NaN  NaN
9   36.0  28800   34100  1981   Single         7  nan  NaN  NaN  NaN  NaN
10  40.0  34100   41500  1981   Single         7  nan  NaN  NaN  NaN  NaN
11  45.0  41500   55300  1981   Single         7  nan  NaN  NaN  NaN  NaN
0    0.0      0    2300  1982   Single         7  nan  NaN  NaN  NaN  NaN
1   12.0   2300    3400  1982   Single         7  nan  NaN  NaN  NaN  NaN
2   14.0   3400    4400  1982   Single         7  nan  NaN  NaN  NaN  NaN
3   16.0   4400    6500  1982   Single         7  nan  NaN  NaN  NaN  NaN
4   17.0   6500    8500  1982   Single         7  nan  NaN  NaN  NaN  NaN
5   19.0   8500   10800  1982   Single         7  nan  NaN  NaN  NaN  NaN
6   22.0  10800   12900  1982   Single         7  nan  NaN  NaN  NaN  NaN
7   23.0  12900   15000  1982   Single         7  nan  NaN  NaN  NaN  NaN
8   27.0  15000   18200  1982   Single         7  nan  NaN  NaN  NaN  NaN
9   31.0  18200   23500  1982   Single         7  nan  NaN  NaN  NaN  NaN
10  35.0  23500   28800  1982   Single         7  nan  NaN  NaN  NaN  NaN
11  40.0  28800   34100  1982   Single         7  nan  NaN  NaN  NaN  NaN
12  44.0  34100   41500  1982   Single         7  nan  NaN  NaN  NaN  NaN
0    0.0      0    2300  1983   Single         7  nan  NaN  NaN  NaN  NaN
1   14.0   2300    3400  1983   Single         7  nan  NaN  NaN  NaN  NaN
2   16.0   3400    4400  1983   Single         7  nan  NaN  NaN  NaN  NaN
3   18.0   4400    6500  1983   Single         7  nan  NaN  NaN  NaN  NaN
4   19.0   6500    8500  1983   Single         7  nan  NaN  NaN  NaN  NaN
5   21.0   8500   10800  1983   Single         7  nan  NaN  NaN  NaN  NaN
6   24.0  10800   12900  1983   Single         7  nan  NaN  NaN  NaN  NaN
7   26.0  12900   15000  1983   Single         7  nan  NaN  NaN  NaN  NaN
8   30.0  15000   18200  1983   Single         7  nan  NaN  NaN  NaN  NaN
9   34.0  18200   23500  1983   Single         7  nan  NaN  NaN  NaN  NaN
10  39.0  23500   28800  1983   Single         7  nan  NaN  NaN  NaN  NaN
11  44.0  28800   34100  1983   Single         7  nan  NaN  NaN  NaN  NaN
12  49.0  34100   41500  1983   Single         7  nan  NaN  NaN  NaN  NaN
13  55.0  41500   55300  1983   Single         7  nan  NaN  NaN  NaN  NaN
14  63.0  55300   81800  1983   Single         7  nan  NaN  NaN  NaN  NaN
15  68.0  81800  108300  1983   Single         7  nan  NaN  NaN  NaN  NaN

('Single', 8)

       0      1       2  year tax_type  page_num    3    4    5    6    7
0   14.0   2300    3400  1979   Single         8  nan  NaN  NaN  NaN  NaN
1   16.0   3400    4400  1979   Single         8  nan  NaN  NaN  NaN  NaN
2   18.0   4400    6500  1979   Single         8  nan  NaN  NaN  NaN  NaN
3   19.0   6500    8500  1979   Single         8  nan  NaN  NaN  NaN  NaN
4   21.0   8500   10800  1979   Single         8  nan  NaN  NaN  NaN  NaN
5   24.0  10800   12900  1979   Single         8  nan  NaN  NaN  NaN  NaN
6   26.0  12900   15000  1979   Single         8  nan  NaN  NaN  NaN  NaN
7   30.0  15000   18200  1979   Single         8  nan  NaN  NaN  NaN  NaN
8   34.0  18200   23500  1979   Single         8  nan  NaN  NaN  NaN  NaN
9   39.0  23500   28800  1979   Single         8  nan  NaN  NaN  NaN  NaN
10  44.0  28800   34100  1979   Single         8  nan  NaN  NaN  NaN  NaN
11  49.0  34100   41500  1979   Single         8  nan  NaN  NaN  NaN  NaN
12  55.0  41500   55300  1979   Single         8  nan  NaN  NaN  NaN  NaN
13  63.0  55300   81800  1979   Single         8  nan  NaN  NaN  NaN  NaN
14  68.0  81800  108300  1979   Single         8  nan  NaN  NaN  NaN  NaN
0    0.0      0    2300  1980   Single         8  nan  NaN  NaN  NaN  NaN
1   14.0   2300    3400  1980   Single         8  nan  NaN  NaN  NaN  NaN
2   16.0   3400    4400  1980   Single         8  nan  NaN  NaN  NaN  NaN
3   18.0   4400    6500  1980   Single         8  nan  NaN  NaN  NaN  NaN
4   19.0   6500    8500  1980   Single         8  nan  NaN  NaN  NaN  NaN
5   21.0   8500   10800  1980   Single         8  nan  NaN  NaN  NaN  NaN
6   24.0  10800   12900  1980   Single         8  nan  NaN  NaN  NaN  NaN
7   26.0  12900   15000  1980   Single         8  nan  NaN  NaN  NaN  NaN
8   30.0  15000   18200  1980   Single         8  nan  NaN  NaN  NaN  NaN
9   34.0  18200   23500  1980   Single         8  nan  NaN  NaN  NaN  NaN
10  39.0  23500   28800  1980   Single         8  nan  NaN  NaN  NaN  NaN
11  44.0  28800   34100  1980   Single         8  nan  NaN  NaN  NaN  NaN
12  49.0  34100   41500  1980   Single         8  nan  NaN  NaN  NaN  NaN
13  55.0  41500   55300  1980   Single         8  nan  NaN  NaN  NaN  NaN
14  63.0  55300   81800  1980   Single         8  nan  NaN  NaN  NaN  NaN
15  68.0  81800  108300  1980   Single         8  nan  NaN  NaN  NaN  NaN

('Single', 9)

       0      1       2  year tax_type  page_num    3    4    5    6    7
0   14.0   2200    2700  1978   Single         9  nan  NaN  NaN  NaN  NaN
1   15.0   2700    3200  1978   Single         9  nan  NaN  NaN  NaN  NaN
2   16.0   3200    3700  1978   Single         9  nan  NaN  NaN  NaN  NaN
3   17.0   3700    4200  1978   Single         9  nan  NaN  NaN  NaN  NaN
4   19.0   4200    6200  1978   Single         9  nan  NaN  NaN  NaN  NaN
5   21.0   6200    8200  1978   Single         9  nan  NaN  NaN  NaN  NaN
6   24.0   8200   10200  1978   Single         9  nan  NaN  NaN  NaN  NaN
7   25.0  10200   12200  1978   Single         9  nan  NaN  NaN  NaN  NaN
8   27.0  12200   14200  1978   Single         9  nan  NaN  NaN  NaN  NaN
9   29.0  14200   16200  1978   Single         9  nan  NaN  NaN  NaN  NaN
10  31.0  16200   18200  1978   Single         9  nan  NaN  NaN  NaN  NaN
11  34.0  18200   20200  1978   Single         9  nan  NaN  NaN  NaN  NaN
12  36.0  20200   22200  1978   Single         9  nan  NaN  NaN  NaN  NaN
13  38.0  22200   24200  1978   Single         9  nan  NaN  NaN  NaN  NaN
14  40.0  24200   28200  1978   Single         9  nan  NaN  NaN  NaN  NaN
15  45.0  28200   34200  1978   Single         9  nan  NaN  NaN  NaN  NaN
16  50.0  34200   40200  1978   Single         9  nan  NaN  NaN  NaN  NaN
17  55.0  40200   46200  1978   Single         9  nan  NaN  NaN  NaN  NaN
18  60.0  46200   52200  1978   Single         9  nan  NaN  NaN  NaN  NaN
19  62.0  52200   62200  1978   Single         9  nan  NaN  NaN  NaN  NaN
20  64.0  62200   72200  1978   Single         9  nan  NaN  NaN  NaN  NaN
21  66.0  72200   82200  1978   Single         9  nan  NaN  NaN  NaN  NaN
22  68.0  82200   92200  1978   Single         9  nan  NaN  NaN  NaN  NaN
23  69.0  92200  102200  1978   Single         9  nan  NaN  NaN  NaN  NaN

('Single', 10)

       0      1       2  year tax_type  page_num    3    4    5    6    7
0   14.0   2200    2700  1977   Single        10  nan  NaN  NaN  NaN  NaN
1   15.0   2700    3200  1977   Single        10  nan  NaN  NaN  NaN  NaN
2   16.0   3200    3700  1977   Single        10  nan  NaN  NaN  NaN  NaN
3   17.0   3700    4200  1977   Single        10  nan  NaN  NaN  NaN  NaN
4   19.0   4200    6200  1977   Single        10  nan  NaN  NaN  NaN  NaN
5   21.0   6200    8200  1977   Single        10  nan  NaN  NaN  NaN  NaN
6   24.0   8200   10200  1977   Single        10  nan  NaN  NaN  NaN  NaN
7   25.0  10200   12200  1977   Single        10  nan  NaN  NaN  NaN  NaN
8   27.0  12200   14200  1977   Single        10  nan  NaN  NaN  NaN  NaN
9   29.0  14200   16200  1977   Single        10  nan  NaN  NaN  NaN  NaN
10  31.0  16200   18200  1977   Single        10  nan  NaN  NaN  NaN  NaN
11  34.0  18200   20200  1977   Single        10  nan  NaN  NaN  NaN  NaN
12  36.0  20200   22200  1977   Single        10  nan  NaN  NaN  NaN  NaN
13  38.0  22200   24200  1977   Single        10  nan  NaN  NaN  NaN  NaN
14  40.0  24200   28200  1977   Single        10  nan  NaN  NaN  NaN  NaN
15  45.0  28200   34200  1977   Single        10  nan  NaN  NaN  NaN  NaN
16  50.0  34200   40200  1977   Single        10  nan  NaN  NaN  NaN  NaN
17  55.0  40200   46200  1977   Single        10  nan  NaN  NaN  NaN  NaN
18  60.0  46200   52200  1977   Single        10  nan  NaN  NaN  NaN  NaN
19  62.0  52200   62200  1977   Single        10  nan  NaN  NaN  NaN  NaN
20  64.0  62200   72200  1977   Single        10  nan  NaN  NaN  NaN  NaN
21  66.0  72200   82200  1977   Single        10  nan  NaN  NaN  NaN  NaN
22  68.0  82200   92200  1977   Single        10  nan  NaN  NaN  NaN  NaN
23  69.0  92200  102200  1977   Single        10  nan  NaN  NaN  NaN  NaN

('Single', 11)

       0      1       2  year tax_type  page_num    3    4    5    6    7
0   15.0    500    1000  1976   Single        11  nan  NaN  NaN  NaN  NaN
1   16.0   1000    1500  1976   Single        11  nan  NaN  NaN  NaN  NaN
2   17.0   1500    2000  1976   Single        11  nan  NaN  NaN  NaN  NaN
3   19.0   2000    4000  1976   Single        11  nan  NaN  NaN  NaN  NaN
4   21.0   4000    6000  1976   Single        11  nan  NaN  NaN  NaN  NaN
5   24.0   6000    8000  1976   Single        11  nan  NaN  NaN  NaN  NaN
6   25.0   8000   10000  1976   Single        11  nan  NaN  NaN  NaN  NaN
7   27.0  10000   12000  1976   Single        11  nan  NaN  NaN  NaN  NaN
8   29.0  12000   14000  1976   Single        11  nan  NaN  NaN  NaN  NaN
9   31.0  14000   16000  1976   Single        11  nan  NaN  NaN  NaN  NaN
10  34.0  16000   18000  1976   Single        11  nan  NaN  NaN  NaN  NaN
11  36.0  18000   20000  1976   Single        11  nan  NaN  NaN  NaN  NaN
12  38.0  20000   22000  1976   Single        11  nan  NaN  NaN  NaN  NaN
13  40.0  22000   26000  1976   Single        11  nan  NaN  NaN  NaN  NaN
14  45.0  26000   32000  1976   Single        11  nan  NaN  NaN  NaN  NaN
15  50.0  32000   38000  1976   Single        11  nan  NaN  NaN  NaN  NaN
16  55.0  38000   44000  1976   Single        11  nan  NaN  NaN  NaN  NaN
17  60.0  44000   50000  1976   Single        11  nan  NaN  NaN  NaN  NaN
18  62.0  50000   60000  1976   Single        11  nan  NaN  NaN  NaN  NaN
19  64.0  60000   70000  1976   Single        11  nan  NaN  NaN  NaN  NaN
20  66.0  70000   80000  1976   Single        11  nan  NaN  NaN  NaN  NaN
21  68.0  80000   90000  1976   Single        11  nan  NaN  NaN  NaN  NaN
22  69.0  90000  100000  1976   Single        11  nan  NaN  NaN  NaN  NaN

('Single', 12)

       0      1       2  year tax_type  page_num    3    4    5    6    7
0   15.0    500    1000  1977   Single        12  nan  NaN  NaN  NaN  NaN
1   16.0   1000    1500  1977   Single        12  nan  NaN  NaN  NaN  NaN
2   17.0   1500    2000  1977   Single        12  nan  NaN  NaN  NaN  NaN
3   19.0   2000    4000  1977   Single        12  nan  NaN  NaN  NaN  NaN
4   21.0   4000    6000  1977   Single        12  nan  NaN  NaN  NaN  NaN
5   24.0   6000    8000  1977   Single        12  nan  NaN  NaN  NaN  NaN
6   25.0   8000   10000  1977   Single        12  nan  NaN  NaN  NaN  NaN
7   27.0  10000   12000  1977   Single        12  nan  NaN  NaN  NaN  NaN
8   29.0  12000   14000  1977   Single        12  nan  NaN  NaN  NaN  NaN
9   31.0  14000   16000  1977   Single        12  nan  NaN  NaN  NaN  NaN
10  34.0  16000   18000  1977   Single        12  nan  NaN  NaN  NaN  NaN
11  36.0  18000   20000  1977   Single        12  nan  NaN  NaN  NaN  NaN
12  38.0  20000   22000  1977   Single        12  nan  NaN  NaN  NaN  NaN
13  40.0  22000   26000  1977   Single        12  nan  NaN  NaN  NaN  NaN
14  45.0  26000   32000  1977   Single        12  nan  NaN  NaN  NaN  NaN
15  50.0  32000   38000  1977   Single        12  nan  NaN  NaN  NaN  NaN
16  55.0  38000   44000  1977   Single        12  nan  NaN  NaN  NaN  NaN
17  60.0  44000   50000  1977   Single        12  nan  NaN  NaN  NaN  NaN
18  62.0  50000   60000  1977   Single        12  nan  NaN  NaN  NaN  NaN
19  64.0  60000   70000  1977   Single        12  nan  NaN  NaN  NaN  NaN
20  66.0  70000   80000  1977   Single        12  nan  NaN  NaN  NaN  NaN
21  68.0  80000   90000  1977   Single        12  nan  NaN  NaN  NaN  NaN
22  69.0  90000  100000  1977   Single        12  nan  NaN  NaN  NaN  NaN

('Single', 13)

       0      1       2  year tax_type  page_num    3    4    5    6    7
0   15.0    500    1000  1974   Single        13  nan  NaN  NaN  NaN  NaN
1   16.0   1000    1500  1974   Single        13  nan  NaN  NaN  NaN  NaN
2   17.0   1500    2000  1974   Single        13  nan  NaN  NaN  NaN  NaN
3   19.0   2000    4000  1974   Single        13  nan  NaN  NaN  NaN  NaN
4   21.0   4000    6000  1974   Single        13  nan  NaN  NaN  NaN  NaN
5   24.0   6000    8000  1974   Single        13  nan  NaN  NaN  NaN  NaN
6   25.0   8000   10000  1974   Single        13  nan  NaN  NaN  NaN  NaN
7   27.0  10000   12000  1974   Single        13  nan  NaN  NaN  NaN  NaN
8   29.0  12000   14000  1974   Single        13  nan  NaN  NaN  NaN  NaN
9   31.0  14000   16000  1974   Single        13  nan  NaN  NaN  NaN  NaN
10  34.0  16000   18000  1974   Single        13  nan  NaN  NaN  NaN  NaN
11  36.0  18000   20000  1974   Single        13  nan  NaN  NaN  NaN  NaN
12  38.0  20000   22000  1974   Single        13  nan  NaN  NaN  NaN  NaN
13  40.0  22000   26000  1974   Single        13  nan  NaN  NaN  NaN  NaN
14  45.0  26000   32000  1974   Single        13  nan  NaN  NaN  NaN  NaN
15  50.0  32000   38000  1974   Single        13  nan  NaN  NaN  NaN  NaN
16  55.0  38000   44000  1974   Single        13  nan  NaN  NaN  NaN  NaN
17  60.0  44000   50000  1974   Single        13  nan  NaN  NaN  NaN  NaN
18  62.0  50000   60000  1974   Single        13  nan  NaN  NaN  NaN  NaN
19  64.0  60000   70000  1974   Single        13  nan  NaN  NaN  NaN  NaN
20  66.0  70000   80000  1974   Single        13  nan  NaN  NaN  NaN  NaN
21  68.0  80000   90000  1974   Single        13  nan  NaN  NaN  NaN  NaN
22  69.0  90000  100000  1974   Single        13  nan  NaN  NaN  NaN  NaN

('Single', 14)

       0      1       2  year tax_type  page_num    3    4    5    6    7
0   15.0    500    1000  1973   Single        14  nan  NaN  NaN  NaN  NaN
1   16.0   1000    1500  1973   Single        14  nan  NaN  NaN  NaN  NaN
2   17.0   1500    2000  1973   Single        14  nan  NaN  NaN  NaN  NaN
3   19.0   2000    4000  1973   Single        14  nan  NaN  NaN  NaN  NaN
4   21.0   4000    6000  1973   Single        14  nan  NaN  NaN  NaN  NaN
5   24.0   6000    8000  1973   Single        14  nan  NaN  NaN  NaN  NaN
6   25.0   8000   10000  1973   Single        14  nan  NaN  NaN  NaN  NaN
7   27.0  10000   12000  1973   Single        14  nan  NaN  NaN  NaN  NaN
8   29.0  12000   14000  1973   Single        14  nan  NaN  NaN  NaN  NaN
9   31.0  14000   16000  1973   Single        14  nan  NaN  NaN  NaN  NaN
10  34.0  16000   18000  1973   Single        14  nan  NaN  NaN  NaN  NaN
11  36.0  18000   20000  1973   Single        14  nan  NaN  NaN  NaN  NaN
12  38.0  20000   22000  1973   Single        14  nan  NaN  NaN  NaN  NaN
13  40.0  22000   26000  1973   Single        14  nan  NaN  NaN  NaN  NaN
14  45.0  26000   32000  1973   Single        14  nan  NaN  NaN  NaN  NaN
15  50.0  32000   38000  1973   Single        14  nan  NaN  NaN  NaN  NaN
16  55.0  38000   44000  1973   Single        14  nan  NaN  NaN  NaN  NaN
17  60.0  44000   50000  1973   Single        14  nan  NaN  NaN  NaN  NaN
18  62.0  50000   60000  1973   Single        14  nan  NaN  NaN  NaN  NaN
19  64.0  60000   70000  1973   Single        14  nan  NaN  NaN  NaN  NaN
20  66.0  70000   80000  1973   Single        14  nan  NaN  NaN  NaN  NaN
21  68.0  80000   90000  1973   Single        14  nan  NaN  NaN  NaN  NaN
22  69.0  90000  100000  1973   Single        14  nan  NaN  NaN  NaN  NaN

('Single', 15)

       0      1       2  year tax_type  page_num    3    4    5    6    7
0   15.0    500    1000  1972   Single        15  nan  NaN  NaN  NaN  NaN
1   16.0   1000    1500  1972   Single        15  nan  NaN  NaN  NaN  NaN
2   17.0   1500    2000  1972   Single        15  nan  NaN  NaN  NaN  NaN
3   19.0   2000    4000  1972   Single        15  nan  NaN  NaN  NaN  NaN
4   21.0   4000    6000  1972   Single        15  nan  NaN  NaN  NaN  NaN
5   24.0   6000    8000  1972   Single        15  nan  NaN  NaN  NaN  NaN
6   25.0   8000   10000  1972   Single        15  nan  NaN  NaN  NaN  NaN
7   27.0  10000   12000  1972   Single        15  nan  NaN  NaN  NaN  NaN
8   29.0  12000   14000  1972   Single        15  nan  NaN  NaN  NaN  NaN
9   31.0  14000   16000  1972   Single        15  nan  NaN  NaN  NaN  NaN
10  34.0  16000   18000  1972   Single        15  nan  NaN  NaN  NaN  NaN
11  36.0  18000   20000  1972   Single        15  nan  NaN  NaN  NaN  NaN
12  38.0  20000   22000  1972   Single        15  nan  NaN  NaN  NaN  NaN
13  40.0  22000   26000  1972   Single        15  nan  NaN  NaN  NaN  NaN
14  45.0  26000   32000  1972   Single        15  nan  NaN  NaN  NaN  NaN
15  50.0  32000   38000  1972   Single        15  nan  NaN  NaN  NaN  NaN
16  55.0  38000   44000  1972   Single        15  nan  NaN  NaN  NaN  NaN
17  60.0  44000   50000  1972   Single        15  nan  NaN  NaN  NaN  NaN
18  62.0  50000   60000  1972   Single        15  nan  NaN  NaN  NaN  NaN
19  64.0  60000   70000  1972   Single        15  nan  NaN  NaN  NaN  NaN
20  66.0  70000   80000  1972   Single        15  nan  NaN  NaN  NaN  NaN
21  68.0  80000   90000  1972   Single        15  nan  NaN  NaN  NaN  NaN
22  69.0  90000  100000  1972   Single        15  nan  NaN  NaN  NaN  NaN

('Single', 16)

       0      1       2  year tax_type  page_num    3    4    5    6    7
0   15.0    500    1000  1971   Single        16  nan  NaN  NaN  NaN  NaN
1   16.0   1000    1500  1971   Single        16  nan  NaN  NaN  NaN  NaN
2   17.0   1500    2000  1971   Single        16  nan  NaN  NaN  NaN  NaN
3   19.0   2000    4000  1971   Single        16  nan  NaN  NaN  NaN  NaN
4   21.0   4000    6000  1971   Single        16  nan  NaN  NaN  NaN  NaN
5   24.0   6000    8000  1971   Single        16  nan  NaN  NaN  NaN  NaN
6   25.0   8000   10000  1971   Single        16  nan  NaN  NaN  NaN  NaN
7   27.0  10000   12000  1971   Single        16  nan  NaN  NaN  NaN  NaN
8   29.0  12000   14000  1971   Single        16  nan  NaN  NaN  NaN  NaN
9   31.0  14000   16000  1971   Single        16  nan  NaN  NaN  NaN  NaN
10  34.0  16000   18000  1971   Single        16  nan  NaN  NaN  NaN  NaN
11  36.0  18000   20000  1971   Single        16  nan  NaN  NaN  NaN  NaN
12  38.0  20000   22000  1971   Single        16  nan  NaN  NaN  NaN  NaN
13  40.0  22000   26000  1971   Single        16  nan  NaN  NaN  NaN  NaN
14  45.0  26000   32000  1971   Single        16  nan  NaN  NaN  NaN  NaN
15  50.0  32000   38000  1971   Single        16  nan  NaN  NaN  NaN  NaN
16  55.0  38000   44000  1971   Single        16  nan  NaN  NaN  NaN  NaN
17  60.0  44000   50000  1971   Single        16  nan  NaN  NaN  NaN  NaN
18  62.0  50000   60000  1971   Single        16  nan  NaN  NaN  NaN  NaN
19  64.0  60000   70000  1971   Single        16  nan  NaN  NaN  NaN  NaN
20  66.0  70000   80000  1971   Single        16  nan  NaN  NaN  NaN  NaN
21  68.0  80000   90000  1971   Single        16  nan  NaN  NaN  NaN  NaN
22  69.0  90000  100000  1971   Single        16  nan  NaN  NaN  NaN  NaN

In [12]:
total_data[numeric_perc].iloc[:,:6].to_csv('fed_individual_rate_history_nominal_2.csv')